<div class="focuspoint-wrapper draggable">

  <div id="Info">
    <div class="toggle">
      <span class="fas fa-times">
        <div class="sr-only">dismiss</div>
      </span>
    </div>
    <div class="helper-tool" style="width: 348px; height: 589px;">
      <h2>This section will only display within Cascade's Preview!</h2>
      <details>
        <summary class="faux-h3">Instructions</summary>
        <ol>
          <p class="instructions">For each image in the masthead:</p>
          <li>Copy and paste the image url.</li>
          <li>Choose a focal point with the picker. </li>
          <li>Copy and paste the data-attributes into the corresponding masthead widget field. <br>
            example:
            <pre>data-focus-x="0.18" data-focus-y="0.21" data-image-w="6000" data-image-h="4000"</pre>
          </li>
        </ol>
      </details>


      <div class="helper-tool-target">
        <img class="helper-tool-img" alt=" ">
        <img class="reticle"
          src="https://dev-www.chapman.edu/_assets/focuspoint-target-c253e91ff87a1d9168a3755299e453672d02a9d6d0e4de1d1554a11e860aea78.png"
          alt=" ">
        <img class="target-overlay" alt=" ">
      </div>
      <p>
        <label for="set-src">Paste in a URL to change the image</label>
        <input class="helper-tool-set-src" id="set-src" name="set-src" type="text">
      </p>
      <p>
        <label for="data-attr">Focal Point data-attributes:</label>
        <input class="helper-tool-data-attr" id="data-attr" name="data-attr"
          placeholder="data-focus-x=&quot;0&quot; data-focus-y=&quot;0&quot; " type="text">
      </p>
        <p>
          <label for="css3-val">CSS Background Position:</label>
          <input class="helper-tool-css3-val" id="css3-val" name="css3-val" placeholder="background-position:"
            type="text">
        </p>
    </div><!-- End Helper Tool -->
  </div>

</div>


<script>
  $(function () {

    $('.focuspoint').focusPoint({
      reCalcOnWindowResize: true,
    });

  });

</script>


<div class="side-panel-hero">
  <div class="hero-content">
    <section aria-labelledby="herocontentpanel" class="hero-content-panel">
      <h1 id="herocontentpanel">Dodge College of Film and Media Arts</h1>
      <h2>Preparing students for a creative life in fiml and media arts.</h2>
      <p>
        Welcome to Dodge College of film and Media arts, a state-of-the-art facility open to you 24/7, acomplished
        faculty with a combined filmography of more than 300 feature films, a hands-on learning environment,
        international travel oportunities, one-of-a-kind internships, a solid alumni network and synergy across all
        programs.
        Welcome to Dodge College of film and Media arts, a state-of-the-art facility open to you 24/7, acomplished
        faculty with a combined filmography of more than 300 feature films, a hands-on learning environment,
        international travel oportunities, one-of-a-kind internships, a solid alumni network and synergy across all
        programs.
      </p>


      <nav class="calls-to-action">
        <a href="#" class="theme-bg-color theme-button">Visit Dodge</a>
        <a href="#" class="theme-bg-color theme-button">Admission Information</a>
      </nav>

      <nav id="program-select-links" class="program-select">
        <span class="select-arrow theme-border-color"></span>

        <button class="hero-select-button theme-border-color" tabindex="0">Sample Text</button>
        <ul class="hero-select-list">
          <li>
            <a href="http://www.google.com">Programs and Majors</a>
          </li>
          <li><a href="http://www.google.com">Film Production</a></li>
        </ul>
      </nav>
    </section>
  </div>

  <div class="cd-hero">
    <div class="cd-arrow-left"><a href="#">&lsaquo;</a></div>
    <div class="cd-arrow-right"><a href="#">&rsaquo;</a></div>
    <div class="cd-slide-container">
      <ul class="cd-hero-slider autoplay focuspoint" data-focus-x="0.40" data-focus-y="0.26" data-image-w="6000" data-image-h="4000">
        <li class="selected">
          <div class="theme-bg-color slider-bottom-border"></div>



          <!-- begin focuspoint -->
          <div  >

              <img src="https://www.chapman.edu/business/_files/homepage/argyros-bush.jpg">

              <!-- <div id="Frames"></div> -->
              
            <!-- <div class="background-image" id=""
              style="background-image: url('https://www.chapman.edu/business/_files/homepage/argyros-bush.jpg');" data-focus-x="0.21" data-focus-y="0.18" data-image-w="6000" data-image-h="4000">
            </div> -->
              
            <!-- <div class="contain background-image" id="foreground"
              style="background-image: url('https://www.chapman.edu/business/_files/homepage/argyros-bush.jpg'); ">
            </div>  -->

            <!-- end focuspoint -->
          </div>

          
          <article class="theme-bg-color-alpha">
        <!-- <div class="focuspoint" data-focus-x="0.07" data-focus-y="0.18">
            <img src="https://www.chapman.edu/business/_files/homepage/argyros-bush.jpg">
        </div> -->
            <div class="content">
              <span class="category">Beyond Dodge</span>
              <h2 class="title">New Orleans Becoming Hollywood South</h2>
              <h3 class="subtitle">Alumni Discuss the film industry in New Orleans</h3>
              <p class="body">
                What’s the first thing that comes to mind when you think of France and the arts? The Louvre? The
                Mona Lisa? Hiroshima, Mon Amour? It’s probably not animation. Yet the influence of French animation
                is also enormous, from the first animated film in history, Reynaud’s Pauvre Pierrot to Illumination
                Studios’ newest blockbuster, Minions. Dodge’s Digital...&nbsp;&nbsp;<a href="#">Read more on
                  dodge</a>
              </p>
            </div>
          </article>

        </li>

        <!-- <li>
          <div class="theme-bg-color slider-bottom-border"></div>
          <div class="background-video-wrapper">
            <article class="theme-bg-color-alpha">
              <video autoplay loop poster="http://www.chapman.edu/_files/img/hero-panels/fallback-images/football.jpg">
                <source src="http://www.chapman.edu/_files/img/hero-panels/html5-videos/homecoming.mp4"
                  type="video/mp4">
              </video>
              <div class="content">
                <span class="category">Sports Broadcasting</span>
                <h2 class="title">Students Cover Chapman's Homecoming Football Game</h2>
                <h3 class="subtitle">Equitment and crew all from Chapman's own Dodge College</h3>
                <p class="body">
                  What’s the first thing that comes to mind when you think of France and the arts? The Louvre? The Mona
                  Lisa? Hiroshima, Mon Amour? It’s probably not animation. Yet the influence of French animation is also
                  enormous, from the first animated film in history, Reynaud’s Pauvre Pierrot to Illumination Studios’
                  newest blockbuster, Minions. Dodge’s Digital...&nbsp;&nbsp;<a href="#">Read more on dodge</a>
                </p>
              </div>
            </article>
            <video id="background-video" class="background-video" autoplay loop
              poster="http://www.chapman.edu/_files/img/hero-panels/fallback-images/football.jpg">
              <source src="http://www.chapman.edu/_files/img/hero-panels/html5-videos/homecoming.mp4" type="video/mp4">
            </video>
          </div>
        </li>
        <li>
          <div class="theme-bg-color slider-bottom-border"></div>
          <div class="background-image"
            style="background-image: url('http://www.chapman.edu/dodge/_files/dmac/dmac-masthead.jpg'); ">
            <article class="theme-bg-color-alpha">
              <img src="http://www.chapman.edu/dodge/_files/dmac/dmac-masthead.jpg">
              <div class="content">
                <span class="category">Hello there</span>
                <h2 class="title">This is my test panel, hope it works</h2>
                <h3 class="subtitle">Alumni Discuss the film industry in New Orleans</h3>
                <p class="body">
                  What’s the first thing that comes to mind when you think of France and the arts? The Louvre? The Mona
                  Lisa? Hiroshima, Mon Amour? It’s probably not animation. Yet the influence of French animation is also
                  enormous, from the first animated film in history, Reynaud’s Pauvre Pierrot to Illumination Studios’
                  newest blockbuster, Minions. Dodge’s Digital...&nbsp;&nbsp;<a href="#">Read more on dodge</a>
                </p>
              </div>
            </article>
          </div>
        </li> -->
      </ul>
    </div>
    <div class="cd-slider-nav">
      <nav>
        <span class="cd-marker item-1"></span>
        <ul>
          <li class="selected"><a href="#" tabindex="0">1</a></li>
          <li><a href="#" tabindex="0">2</a></li>
          <li><a href="#" tabindex="0">3</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>

