<!-- https://css-tricks.com/solved-with-css-dropdown-menus/ -->

<div id="uninav__global-nav">
  <nav aria-label="global navigation bar">
    <ul>
      <li><a class="" href="#">About</a></li>
      <li><a class="" href="#">Academics</a></li>
      <li><a class="" href="#">Admission</a></li>
      <li><a class="" href="#">Alumni</a></li>
      <li><a class="" href="#">Arts</a></li>
      <li><a class="" href="#">Campus Life</a></li>
      <li><a class="" href="#">Research</a></li>
    </ul>
  </nav>
</div>