<section
  aria-label="Accessibility Statement"
  class="section aos-init aos-animate"
  id="accessibility-statement"
  data-aos="fade-up"
  data-aos-duration="500"
>
  <div class="maxWidth">
    <h2>Reporting Accessibility Concerns for Individuals with a Disability</h2>
    <div>
      <p>
        If you are having difficulty with accessibility of this site please
        email
        <a href="mailto:accessibility@chapman.edu">accessibility@chapman.edu</a
        >,&nbsp;call&nbsp;the Human Resources office at (714) 997-6686, or visit
        our page for&nbsp;<a href="website-feedback-form.aspx"
          >reporting accessibility concerns on this website</a
        >.
      </p>
      <h2>Notice of Nondiscriminatory Policy as to Students</h2>
      <p>
        Chapman University admits students of any race, color, national and
        ethnic origin to all the rights, privileges, programs, and activities
        generally accorded or made available to students at the university. It
        prohibits discrimination on the basis of race, color, religion, creed,
        sex, age, marital status, national origin, mental or physical
        disability, political belief or affiliation, veteran status, sexual
        orientation, gender identity and expression, genetic information, and
        any other class of individuals protected from discrimination under state
        or federal law in administration of its educational policies, admissions
        policies, scholarship and loan programs, and athletic and other
        university-administered programs.
      </p>
    </div>
  </div>
</section>
