<section
  aria-label="Chapman Family"
  class="section light-bg stories"
  id="chapmanFamily"
>
  <div class="maxWidth">
    <h2
      class="heading skrollable aos-init aos-animate skrollable-after"
      data-bottom="opacity:0;"
      data-center="opacity:1;"
      data-aos="zoom-in-up"
      data-aos-duration="500"
      style="opacity: 1"
    >
      In our labs and our classrooms, big ideas are born.
    </h2>
    <div class="homepage-news__grid-wrapper">
      <div
        class="third aos-init aos-animate"
        data-aos="zoom-in-right"
        data-aos-duration="500"
      >
        <article aria-label="The Forgotten Pandemic" class="story">
          <div
            aria-label="1918 Spanish Flu"
            class="story-bg lazy-loaded"
            role="img"
            style="
              background-image: url('https://www.chapman.edu/_files/1918_spanish_flu_red_cross-1.jpg');
            "
          >
            <img
              alt="1918 Spanish Flu"
              loading="lazy"
              src="https://www.chapman.edu/_files/1918_spanish_flu_red_cross-1.jpg"
            />
          </div>
          <div class="homepage-story__text">
            <a class="tag" href=""
              ><span class="squiggle squiggle-2-2"
                ><span class="squiggle squiggle-2-2">#Pandemic</span></span
              ></a
            >

            <a
              class="permalink"
              href="https://news.chapman.edu/2020/10/27/the-forgotten-pandemic/"
            >
              <h2
                class="title aos-init aos-animate"
                data-aos="zoom-in-up"
                data-aos-duration="500"
              >
                The Forgotten Pandemic
              </h2>
            </a>
          </div>

          <div class="story_footer">
            <p class="source blogname">
              <a href="https://blogs.chapman.edu/chapman-forward"
                >Chapman Forward</a
              >
            </p>
          </div>
        </article>
      </div>

      <div
        class="third aos-init aos-animate"
        data-aos="zoom-in-up"
        data-aos-duration="500"
      >
        <article aria-label="Rise of the Resistance" class="story">
          <div
            aria-label="Pharmacy researcher Rakesh Tiwari, Ph.D., is among the Chapman scientists developing antibiotic alternatives to combat the global health problem of bacterial resistance"
            class="story-bg lazy-loaded"
            role="img"
            style="
              background-image: url('https://www.chapman.edu/_files/dr-tiwari-2020_chapman-forward.jpg');
            "
          >
            <img
              alt="Pharmacy researcher Rakesh Tiwari, Ph.D., is among the Chapman scientists developing antibiotic alternatives to combat the global health problem of bacterial resistance"
              loading="lazy"
              src="https://www.chapman.edu/_files/dr-tiwari-2020_chapman-forward.jpg"
            />
          </div>
          <div class="homepage-story__text">
            <a class="tag" href=""
              ><span class="squiggle squiggle-2-2"
                ><span class="squiggle squiggle-2-2"
                  >#Chapman Research</span
                ></span
              ></a
            >

            <a
              class="permalink"
              href="https://news.chapman.edu/2020/10/27/rise-of-the-resistance/"
            >
              <h2
                class="title aos-init aos-animate"
                data-aos="zoom-in-up"
                data-aos-duration="500"
              >
                Rise of the Resistance
              </h2>
            </a>
          </div>

          <div class="story_footer">
            <p class="source blogname">
              <a href="https://blogs.chapman.edu/chapman-forward"
                >Chapman Forward</a
              >
            </p>
          </div>
        </article>
      </div>
      <div
        class="third aos-init aos-animate"
        data-aos="zoom-in-left"
        data-aos-duration="500"
      >
        <h2
          data-aos="zoom-in-up"
          data-aos-duration="500"
          class="aos-init aos-animate"
        >
          Chapman Forward
        </h2>
        <p></p>
        <p>
          <span
            >From documentary film to environmental science, research is on the
            rise at Chapman. Reflecting the growth in transformative projects
            and our world-class facilities, the university shares groundbreaking
            discoveries and advances in knowledge in the research magazine
            Chapman Forward. In the current issue, you’ll find stories on
            diverse subjects such as combating cancer, the rise of antibiotic
            resistance, transnational musical performances and how machine
            learning can help people with Autism.</span
          >
        </p>
        <p></p>
        <p>
          <a href="https://news.chapman.edu/forward/"
            >View Chapman Forward Magazine Online »</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
