<section aria-label="DEI Callout" class="section dei-callout" id="dei-callout">
  <div class="maxWidth dei-callout__wrapper">
    <div class="dei-callout__text-section">
      <h2 class="dei-callout__title">
        <a href="https://www.youvisit.com/tour/chapman/143029">
          Tour Chapman University’s Orange Campus from Home
        </a>
      </h2>
      <p class="dei-callout__description">
        If you can’t visit Chapman in person, you and your family can tour campus and hear from current students from
        wherever you are.
      </p>
      <a class="dei-callout__button button red" href="https://www.youvisit.com/tour/chapman/143029">
        Take a Virtual Tour
      </a>
    </div>
    <div class="dei-callout__image">
      <a href="https://www.youvisit.com/tour/chapman/143029">
        <img alt="Chapman University Virtual Tour"
          src="https://www.chapman.edu/_assets/homepage/chapman-virtual-tour.jpg" />
      </a>
      <a href="https://www.youvisit.com/#/vte/?data-platform=v&amp;data-link-type=immersive&amp;data-inst=60120&amp;data-image-width=100%25&amp;data-image-height=100%25"
        style="display: block; width: 100%; height: 100%; text-align: center; line-height: 500px; text-decoration: none; color: #ffffff; background-color: #000000;"></a>
    </div>
    <script async="async" defer="defer" src="https://www.youvisit.com/tour/Embed/js3"></script>
  </div>
</section>