<section aria-label="DEI Callout" class="section dei-callout" id="dei-callout">
  <div class="maxWidth dei-callout__wrapper">
    <div class="dei-callout__text-section">
      <h2 class="dei_callout__title">
        <a href="https://www.youvisit.com/tour/chapman/143029">
          Tour Chapman University’s Orange Campus from Home
        </a>
      </h2>
      <p class="dei_callout__description">
        If you can’t visit Chapman in person, you and your family can tour
        campus and hear from current students from wherever you are.
      </p>
      <a
        class="dei_callout__button button red"
        href="https://www.youvisit.com/tour/chapman/143029"
      >
        Take a Virtual Tour
      </a>
    </div>
    <div class="dei-callout__image">
      <a href="https://www.youvisit.com/tour/chapman/143029">
        <img
          src="https://www.chapman.edu/_assets/homepage/chapman-virtual-tour.jpg"
        />
      </a>
    </div>
  </div>
</section>
