<section
  aria-label="General Campus Information"
  class="section light-bg lazy-loaded"
  id="generalInformation"
>
  <div class="maxWidth">
    <h2
      class="heading skrollable aos-init aos-animate skrollable-after"
      data-bottom="opacity:0;"
      data-center="opacity:1;"
      data-aos="fade-up"
      data-aos-duration="500"
      style="opacity: 1"
    >
      At Chapman, you'll discover there's an energy that runs through everything
      and everyone.
    </h2>
    <div class="homepage-news__grid-wrapper">
      <div
        class="third aos-init aos-animate"
        data-aos="fade-left"
        data-aos-duration="500"
        style="height: auto"
      >
        <!-- Images must be 480x320 for this space | unlimited images supported -->
        <div class="imagerotator">
          <img
            alt="Bert William Mall at Chapman University"
            class="lazy-loaded"
            loading="lazy"
            src="https://www.chapman.edu/_files/img/homepage-general-info/homepage-rank-1.jpg"
            style="
              position: absolute;
              top: 0px;
              z-index: 2;
              opacity: 1;
              display: block;
            "
          />

          <img
            alt="Keck Center of Science and Engineering"
            class="lazy-loaded"
            loading="lazy"
            src="https://www.chapman.edu/_files/img/homepage-general-info/homepage-rank-3.jpg"
            style="
              position: absolute;
              top: 0px;
              z-index: 1;
              display: none;
              opacity: 0;
            "
          />

          <div class="imagerotator_clearfix" style="padding-bottom: 67%"></div>
        </div>
        <div class="undergraduate-card__text">
          <h3>Here to make an impact.</h3>
          <p>
            <span style="font-weight: 400"
              >Ranked #121 out of 399 top-tier universities in the country
              according to </span
            ><i
              ><span style="font-weight: 400"
                >U.S. News &amp; World Report</span
              ></i
            ><span style="font-weight: 400"
              >, Chapman offers students personalized educational opportunities
              and a world-class faculty. And since Chapman is also one of the
              Top 50 Schools for Best Undergraduate Teaching, our students get
              more from all we have to offer.
            </span>
          </p>
          <p>
            <a href="about/facts-and-rankings/index.aspx">See our rankings </a>
          </p>
        </div>
      </div>

      <div
        class="third aos-init aos-animate"
        data-aos="fade-left"
        data-aos-duration="500"
        data-aos-delay="100"
        style="height: auto"
      >
        <!-- Images must be 480x320 for this space | unlimited images supported -->
        <div class="imagerotator">
          <img
            alt="chapman engineering student working on electronics"
            class="lazy-loaded"
            loading="lazy"
            src="https://www.chapman.edu/_files/img/homepage-general-info/homepage-explore-21.jpg"
            style="
              position: absolute;
              top: 0px;
              z-index: 2;
              opacity: 1;
              display: block;
            "
          />

          <img
            alt="music students playing violins"
            class="lazy-loaded"
            loading="lazy"
            src="https://www.chapman.edu/_files/img/homepage-general-info/homepage-explore-2.jpg"
            style="
              position: absolute;
              top: 0px;
              z-index: 1;
              display: none;
              opacity: 0;
            "
          />

          <div class="imagerotator_clearfix" style="padding-bottom: 67%"></div>
        </div>
        <div class="undergraduate-card__text">
          <h3>Explore passionately.</h3>
          <p>
            <span style="font-weight: 400"
              >At Chapman, research isn’t just an idea, it’s a way of life. As
              an R2 research institute, the University supports diverse
              programs, projects and centers with over $14M in annual research
              funding. We offer state-of-the-art facilities, collaborative work
              environments and unparalleled experience solving real-world
              problems.</span
            >
          </p>
          <p>
            <a href="research/index.aspx">Learn about research opportunities</a>
          </p>
        </div>
      </div>

      <div
        class="third aos-init aos-animate"
        data-aos="fade-left"
        data-aos-duration="500"
        data-aos-delay="200"
        style="height: auto"
      >
        <!-- Images must be 480x320 for this space | unlimited images supported -->
        <div class="imagerotator">
          <img
            alt="film student at camera"
            class="lazy-loaded"
            loading="lazy"
            src="https://www.chapman.edu/_files/img/homepage-general-info/homepage-research-2.jpg"
            style="
              position: absolute;
              top: 0px;
              z-index: 2;
              opacity: 1;
              display: block;
            "
          />

          <img
            alt="science students at computer"
            class="lazy-loaded"
            loading="lazy"
            src="https://www.chapman.edu/_files/img/homepage-general-info/homepage-research-1.jpg"
            style="
              position: absolute;
              top: 0px;
              z-index: 1;
              display: none;
              opacity: 0;
            "
          />

          <div class="imagerotator_clearfix" style="padding-bottom: 67%"></div>
        </div>
        <div class="undergraduate-card__text">
          <h3>Begin something remarkable.</h3>
          <p>
            <span style="font-weight: 400"
              >From your first day at Chapman, you’ll work alongside faculty to
              reach your goals. Whatever your passion, you’ll find professors
              ready to guide you along your path. From dynamic classes with
              other creative students, to hands-on learning experiences where
              you’ll discover your own potential, opportunity is waiting.&nbsp;
            </span>
          </p>
          <p>
            <a href="academics/degrees-and-programs.aspx"
              >Explore degrees and programs</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
