<section
  aria-label="Graduate Admission Information"
  class="section dark-bg skrollable lazy-loaded skrollable-between"
  data-bottom-top="background-position: center 100px"
  data-top-bottom="background-position: center -100px"
  id="graduateAdmission"
  style="background-position: center 20.8925px"
>
  <div class="maxWidth">
    <div class="second">
      <h2
        class="heading skrollable skrollable-after"
        data-bottom="right:50px; opacity:0;"
        data-center="right:0; opacity:1;"
        style="right: 0px; opacity: 1"
      >
        Here to Go Further.
      </h2>
      <h3
        class="subheading skrollable skrollable-after"
        data-bottom="right:50px; opacity:0;"
        data-center="right:0; opacity:1;"
        style="right: 0px; opacity: 1"
      >
        Take the next step in your journey towards mastery. Explore Chapman
        University’s Graduate Programs.
      </h3>
    </div>
    <div class="second">
      <div
        class="actions skrollable skrollable-before"
        data-bottom="opacity:0;"
        data-center="opacity:1;"
        style="opacity: 0"
      >
        <a
          class="button white apply smc-cta skrollable skrollable-before"
          data--100-bottom="opacity:1"
          data-bottom="opacity:0"
          data-cta-id="homepage-grad-admv"
          href="admission/graduate/request-info.aspx"
          style="opacity: 0"
          >Request information</a
        >
        <a
          class="button red apply smc-cta skrollable skrollable-before"
          data--100-bottom="opacity:1"
          data-bottom="opacity:0"
          data-cta-id="homepage-grad-admv"
          href="academics/degrees-and-programs.aspx?startingtab=4"
          style="opacity: 0"
          >View a List of Graduate Programs</a
        >
      </div>
    </div>
  </div>
</section>
