<%
#
# This file mirrors, or parodies, the Cascade VTL script at
# /_cascade/formats/modular/1 Column Primary Content
#
# It uses snakeCase variable to match those used in Cascade as closely as possible.
#

# In Cascade, $contentRoot is a default object in Velocity context. From docs:
# contentRoot - JDOM Element containing the XML supplied for the current region. This content
# could be coming from a block or the page's own structured data or xml. To view the raw XML,
# simply apply no Format to that region.
# contentRoot here is the data_definition object set by the ApplicationController cascade_format
# method. It is reassigned to $contentRoot to be consistent with code in Cascade.
$contentRoot = contentRoot

# VTL import syntax:
#import( "/_cascade/formats/helpers.velocity" )
Cascade::Velocity.import('/_cascade/formats/helpers.velocity')
Cascade::Velocity.import('/_cascade/formats/modular/widgets/1 Column/fact_cards_with_text')
Cascade::Velocity.import('/_cascade/formats/modular/widgets/1 Column/video_with_text')
Cascade::Velocity.import('/_cascade/formats/modular/widgets/1 Column/image_with_text')
Cascade::Velocity.import('/_cascade/formats/modular/widgets/1 Column/text_only')
Cascade::Velocity.import('/_cascade/formats/modular/widgets/1 Column/call_to_action_3_up')
Cascade::Velocity.import('/_cascade/formats/modular/widgets/1 Column/chapman_social_feed')
Cascade::Velocity.import('/_cascade/formats/modular/widgets/1 Column/subscribe')
Cascade::Velocity.import('/_cascade/formats/modular/widgets/1 Column/call_to_action_block')
Cascade::Velocity.import('/_cascade/formats/modular/widgets/1 Column/chapman_events_feed')
Cascade::Velocity.import('/_cascade/formats/modular/widgets/1 Column/chapman_stories_feed')
Cascade::Velocity.import('/_cascade/formats/modular/widgets/1 Column/call_to_action_footer')
Cascade::Velocity.import('/_cascade/formats/modular/widgets/1 Column/contact_footer')

# VTL set syntax:
#set ($currentPage = $_XPathTool.selectSingleNode($contentRoot, "//system-page[@current]") )
Cascade::Velocity.set($currentPage = Cascade::XPathTool.selectSingleNode($contentRoot, "//system-page[@current]"))
Cascade::Velocity.set($primaryContent = $currentPage.getChild('system-data-structure').getChild('primaryContent'))
Cascade::Velocity.set($widgets = Cascade::XPathTool.selectNodes($primaryContent, "widget"))
#Cascade::Velocity.set($meta = $currentPage.getChild('system-data-structure').getChild('meta'))

# TODO: Recreate this in each loop down below.
## Widgets
#foreach ($widget in $widgets)
    #set ($widgetType = $widget.getChild('widgetType').value)

    #if ($widgetType == 'Fact Cards with Text')
        #outputFactCardsWithText($widget)
    #end

    #if ($widgetType == 'Image with Text')
        #outputImageWithText($widget)
    #end

    #if ($widgetType == 'Video with Text')
        #outputVideoWithText($widget)
    #end

    #if ($widgetType == 'Text Only')
        #outputTextOnly($widget)
    #end

    #if ($widgetType == 'Call To Action 3 Up')
        #outputCallToAction3Up($widget)
    #end

    #if ($widgetType == 'Social.chapman Feed')
        #outputChapmanSocialFeed($widget)
    #end

    #if ($widgetType == 'Subscribe')
        #outputSubscribe($widget)
    #end

    #if ($widgetType == 'Call To Action Block')
        #outputCallToActionBlock($widget)
    #end

    #if ($widgetType == 'Events.chapman Feed')
        #outputChapmanEventsFeed($widget)
    #end

    #if ($widgetType == 'Stories Feed')
        #outputChapmanStoriesFeed($widget)
    #end

    #if ($widgetType == 'Call To Action Footer')
        #outputCallToActionFooter($widget)
    #end

    #if ($widgetType == 'Contact Footer')
        #outputContactFooter($widget)
    #end
#end
###inspectXML($widget)
%>

<%# Note: you can't use global $widget as block var %>
<% $widgets.each do | widget | %>
  <% widgetType = widget.getChild('widgetType').value %>

  <% if widgetType == 'Image with Text' %>
    <%= Cascade::Macros.outputImageWithText(widget) %>
  <% end %>

  <%= widgetType %>
<% end %>

<p>More primary content.</p>
