/* FuturaLTPro-LightCond */
@font-face {
  font-family: "futura-pt-condensed";
  src: url('http://localhost:8888/Assets/Futura/FuturaLTPro-LightCond.ttf');
  font-weight: light;
  font-style: normal;
}

.homepage-masthead__container {
  height: 100vh;

  .homepage-masthead__sub-container {
    z-index: 100;

    .homepage-masthead__heading-container {

      .masthead-triangle {
        width: 0;
        height: 0;
        border-top: 150px solid transparent;
        border-right: 150px solid rgba(0, 156, 166, 0.8);
        border-bottom: 150px solid transparent;
        position: relative;
        top: 10em;
        left: 14em;
        transform: rotate(45deg);
      }
      
      .homepage-masthead__tagline {
        position: relative;
        left: 9.5em;
        bottom: 0.6em;
        text-align: left;
      
        .row-one,
        .row-two {
          display: inline-block;
          text-align: left;
          width: 100%;
        }
      
        .row-one {
          font-family: $futura-condensed;
          font-weight: 200;
          font-size: 6.8rem;
          line-height: 6.4rem;
          text-transform: uppercase;
          color: rgba(0, 0, 0, 0.1);
          color: white;
        }
      
        .row-two {
          font-family: $futura;
          font-weight: bold;
          font-size: 9.8rem;
          line-height: 8.8rem;
          text-transform: uppercase;
          color: white;
        }
      }
    }

    .homepage-masthead__button-container {
      top: 0.5em;
      right: 3em;
      
      .homepage-masthead__buttons {
        display: flex;
        flex-direction: column;
        position: relative;
        // right: 10%;
        // bottom: 50%;
    
        .button-link {
          font-family: $futura;
          font-weight: bold;
          font-size: 1.6rem;
          line-height: 2rem;
          text-transform: uppercase;
          color: white;
          background-color: rgba(0, 0, 0, 0.7);
          padding-top: 18px;
          padding-bottom: 18px;
          min-width: 350px;
          border: 2px solid white;
          border-radius: 4px;
          text-decoration: none;
          text-align: center;
          width: 34%;
          margin: 0.25%;
        }
        
        .button-link:hover {
          background-color: rgba(89, 79, 81, 0.7);
        }
      }
    }
  }
  
  .homepage-masthead__slant-container {
    position: relative;
    // bottom: 20%;
    bottom: 15%;
    // top: 4%;
  
    .white-slant {
      position: relative;
      top: 20%;
      width: 100vw;
      height: 325px;
      background-color: white;
      background-size: cover;
      clip-path: polygon(100% 0%, 100% 10%, 0% 50%, 0% 23%);
      z-index: 90;
    }  
    
    .slant-background {
      position: relative;
      width: 100vw;
      height: 19em;
      bottom: 30%;
      // background-image: url('http://cdn.history.com/sites/2/2015/07/hith-white-house-attacks-E.jpeg');
      background-image: url('http://localhost:8888/Pattern-Triangles_RGB-Red.jpg');
      background-size: cover;
      clip-path: polygon(100% 0%, 1000% 100%, 0% 100%, 0% 25%);
      z-index: 100;
      // box-shadow: 0px 40px 80px 20px rgba(255, 255, 255, 0.5);
    }
    
    p.homepage-masthead__words {
      position: relative;
      display: flex;
      text-align: center;
      justify-content: center;
      top: 30%;
      left: 32%;
      width: 35%;
    
      font-family: 'minion-pro';
      font-weight: bold;
      font-style: italic;
      font-size: 4rem;
      line-height: 4.8rem;
      color: white;
    }
    
    .page-down-arrow {
      color: white;
      position: relative;
      display: flex;
      text-align: center;
      justify-content: center;
      top: 28%;
      font-weight: 900;
      // font-size: 26px;
      font-size: 3rem;
    }
  }

  video.homepage-masthead__video {
    height: 80% !important;
  }
}

@media only screen and (max-width: 480px) {

  .homepage-masthead__container {
    .homepage-masthead__sub-container {
      .homepage-masthead__heading-container {
        .masthead-triangle {
          border-top: 90px solid transparent;
          border-right: 90px solid rgba(0, 156, 166, 0.8);
          border-bottom: 90px solid transparent;
          position: relative;
          top: 10.5em;
          left: -1em;
          transform: rotate(45deg);
        }
        
        .homepage-masthead__tagline {
          top: 1.5em;
          left: 0.5em;
          // position: relative;
          // left: 9.5em;
          // bottom: 0.6em;
          // text-align: left;
        
          .row-one,
          .row-two {
            display: inline;
            text-align: left;
            width: 100%;
          }
        
          .row-one {
            font-size: 4rem;
            line-height: 4rem;
          }
        
          .row-two {
            font-family: $futura;
            font-weight: bold;
            font-size: 4.8rem;
            line-height: 4.8rem;
          }
        }
      }
  
      .homepage-masthead__button-container {
        top: 4.5em;
        right: 0em;
        
        .homepage-masthead__buttons {
          // display: flex;
          // flex-direction: column;
          // position: relative;
      
          .button-link {
            font-family: $futura;
            font-weight: bold;
            font-size: 1.5rem;
            line-height: 1.5rem;
            // padding-top: 18px;
            // padding-bottom: 18px;
            // min-width: 90%;
            // border: 2px solid white;
            // border-radius: 4px;
            // text-decoration: none;
            // text-align: center;
            // width: 25%;
            // margin: 0.25%;
          }
        }
      }
    }
    
    .homepage-masthead__slant-container {
      position: relative;
      bottom: 0;
    
      .white-slant {
        position: relative;
        top: 22%;
        width: 100vw;
        height: 325px;
        background-color: white;
        background-size: cover;
        clip-path: polygon(100% 0%, 100% 10%, 0% 50%, 0% 15%);
        z-index: 90;
      }  
      
      .slant-background {
        // position: relative;
        // width: 100vw;
        height: 250px;
        bottom: 32%;
        // background-image: url('http://localhost:8888/Pattern-Triangles_RGB-Red.jpg');
        clip-path: polygon(100% 0%, 1000% 100%, 0% 100%, 0% 20%);
        background-size: auto;
        z-index: 100;
      }
      
      p.homepage-masthead__words {
        // top: 0;
        left: 18%;
        width: 65%;
        font-size: 2.4rem ;
        line-height: 3.2rem;
      }
      
      .page-down-arrow {
        color: white;
        position: relative;
        display: flex;
        text-align: center;
        justify-content: center;
        top: 42%;
        font-weight: 900;
        // font-size: 26px;
        font-size: 3rem;
      }
    }
  
    video.homepage-masthead__video {
      max-height: 75vh;
    }
  } 
}