<div class="business-index-widget">
  <div class="main">
    <ul class="index-slider">
      <li class="index">
        <div class="title">
          <a
            href="https://www.chapman.edu/business/chapman-indices/cuoc-25.aspx"
            >Chapman University OC25</a
          >
        </div>
        <div class="val" data-cuindexcode="CUCA100">Loading...</div>
        <!-- <div class="change"><span class="pos">+0.92%</span> 1 Day</div> -->
        <div class="info">
          <i class="far fa-info-circle"></i>

          <span class="extra-info">
            This index is designed to track the overall performance of public
            companies in Orange County by tracking the top 25 OC-Domiciled
            companies.
          </span>
        </div>
      </li>
      <li class="index">
        <div class="title">
          <a
            href="https://www.chapman.edu/business/chapman-indices/cuca-100.aspx"
            >Chapman University CA100</a
          >
        </div>
        <div class="val" data-cuindexcode="CUCA100">Loading...</div>
        <!-- <div class="change"><span class="neg">-1.25%</span> 1 Day</div> -->
        <div class="info">
          <i class="far fa-info-circle"></i>

          <span class="extra-info">
            This index is designed to track the overall performance of public
            companies in California by tracking the top 100 CA-Domiciled
            companies.
          </span>
        </div>
      </li>
    </ul>
    <div class="calc-by">
      <img
        src="https://www.spglobal.com/spdji/en/app/images/application/spdji/spdji-custom-indices-calculatedby.jpg"
      />
    </div>
  </div>
</div>
