<div class="chapman-stories-feed-widget chapman-stories-feed-widget__sand-bg"
     data-chapman-stories-feed-url="https://social.chapman.edu/?service=wordpress&keyword=career"
     data-chapman-stories-top-story-url=""
     data-chapman-stories-title="Chapman Stories Feed Widget"
     data-chapman-stories-bg-color=""
     data-chapman-stories-button-label="More Stories, Please!"
     data-chapman-stories-button-url="https://news.chapman.edu">
    <!-- Chapman Stories Feed Widget (loads dynamically) -->
        <a href='' class='theme-button stories-feed-btn'>More Fowler Law News</a>
        <a href='' class='theme-button stories-feed-btn'>View Fowler Law Events</a>
</div>