<div class="grid-block-widget__wrapper grid-block-widget__wrapper--black">
    <div class="inner-container">
        <div class="section-intro text-align--centered">

            <h2 class="section-intro__header text-align--centered">
                PSCARE TEAM
            </h2>

        </div>

        <div class="grid-block-widget__container grid-block-widget__container--noImagesVideos grid-block-widget__container--3-col ${gridColumnsVideos}  grid-block-widget__container-- grid-block-widget__container--display-all"
            data-columns="" id="grid-block-widget__container--7">

            <div class="grid-block-widget grid-block-widget--black grid-block-widget-- grid-block-widget--text-overflow"
                title-bg-color="black">

                <div
                    class="grid-block-widget__title text-align--center grid-block-widget__title--black focus-no-border border-bottom--none istitlelinked-no">
                    <span class="label border-bottom--none">Research Team</span>
                </div>

                <div class="grid-block-widget__text grid-block-widget__text--white grid-block-widget__text--center text-align--center  grid-block-widget__text--truncated"
                    data-js="removed empty p tags via grid-block-widget.js" data-scroll-height="391">
                    <div><a class="pscare-names" href="https://www.chapman.edu/our-faculty/laressa-bethishou"
                            style="font-size: 18px; line-height: 2em;">Dr. Laressa Bethishou</a>
                    </div>
                    <div><a class="pscare-names" href="https://www.chapman.edu/our-faculty/lawrence-brown"
                            style="font-size: 18px; line-height: 2em">Dr. Lawrence Brown</a></div>
                    <div><a class="pscare-names" href="https://www.chapman.edu/our-faculty/khaled-elsaid"
                            style="font-size: 18px; line-height: 2em">Dr. Khaled Elsaid</a></div>
                    <div><a class="pscare-names" href="https://www.chapman.edu/our-faculty/marc-fleming"
                            style="font-size: 18px; line-height: 2em">Dr. Marc Fleming</a></div>
                    <div><a class="pscare-names" href="https://www.chapman.edu/our-faculty/jeff-goad"
                            style="font-size: 18px; line-height: 2em">Dr. Jeff Goad</a></div>
                    <div><a class="pscare-names" href="https://www.chapman.edu/our-faculty/jerika-lam"
                            style="font-size: 18px; line-height: 2em">Dr. Jerika Lam</a></div>
                    <div><a class="pscare-names" href="https://www.chapman.edu/our-faculty/taheri-reza"
                            style="font-size: 18px; line-height: 2em">Dr. Reza Taheri</a></div>
                    <div><a class="pscare-names" href="https://www.chapman.edu/our-faculty/marc-fleming"
                            style="font-size: 18px; line-height: 2em">Dr. Marc Fleming</a></div>
                    <div><a class="pscare-names" href="https://www.chapman.edu/our-faculty/karl-hess"
                            style="font-size: 18px; line-height: 2em">Dr. Karl Hess</a></div>

                </div>

            </div>

            <div class="grid-block-widget grid-block-widget--black grid-block-widget-- grid-block-widget--text-overflow"
                title-bg-color="black">

                <div
                    class="grid-block-widget__title text-align--center grid-block-widget__title--black focus-no-border border-bottom--none istitlelinked-no">
                    <span class="label border-bottom--none">Education</span>
                </div>

                <div class="grid-block-widget__text grid-block-widget__text--white grid-block-widget__text--center text-align--center  grid-block-widget__text--truncated"
                    data-js="removed empty p tags via grid-block-widget.js" data-scroll-height="305">
                    <div><a class="pscare-names" href="https://www.chapman.edu/our-faculty/laressa-bethishou"
                            style="font-size: 18px; line-height: 2em">Dr. Laressa Bethishou</a></div>
                    <div><a class="pscare-names" href="https://www.chapman.edu/our-faculty/lawrence-brown"
                            style="font-size: 18px; line-height: 2em">Dr. Lawrence Brown</a></div>
                    <div><a class="pscare-names" href="https://www.chapman.edu/our-faculty/khaled-elsaid"
                            style="font-size: 18px; line-height: 2em">Dr. Khaled Elsaid</a></div>
                    <div><a class="pscare-names" href="https://www.chapman.edu/our-faculty/marc-fleming"
                            style="font-size: 18px; line-height: 2em">Dr. Marc Fleming</a></div>
                    <div><a class="pscare-names" href="https://www.chapman.edu/our-faculty/jeff-goad"
                            style="font-size: 18px; line-height: 2em">Dr. Jeff Goad</a></div>
                    <div><a class="pscare-names" href="https://www.chapman.edu/our-faculty/jerika-lam"
                            style="font-size: 18px; line-height: 2em">Dr. Jerika Lam</a></div>
                    <div><a class="pscare-names" href="https://www.chapman.edu/our-faculty/taheri-reza"
                            style="font-size: 18px; line-height: 2em">Dr. Reza Taheri</a></div>
                </div>

            </div>

            <div class="grid-block-widget grid-block-widget--black grid-block-widget-- grid-block-widget--text-overflow"
                title-bg-color="black">

                <div
                    class="grid-block-widget__title text-align--center grid-block-widget__title--black focus-no-border border-bottom--none istitlelinked-no">
                    <span class="label border-bottom--none">Community Engagement</span>
                </div>

                <div class="grid-block-widget__text grid-block-widget__text--white grid-block-widget__text--center text-align--center"
                    data-js="removed empty p tags via grid-block-widget.js" data-scroll-height="90">
                    <div><a class="pscare-names" href="https://www.chapman.edu/our-faculty/marc-fleming"
                            style="font-size: 18px; line-height: 2em">Dr. Marc Fleming</a></div>
                    <div><a class="pscare-names" href="https://www.chapman.edu/our-faculty/karl-hess"
                            style="font-size: 18px; line-height: 2em">Dr. Karl Hess</a></div>
                </div>
            </div>
        </div>

        <div class="grid-block-widget__cta grid-block-widget__cta--centered futura-regular fw-bold"
            data-display-cta="yes">

            <a aria-label="" class="button border-bottom--none button--red" data-attribute=""
                href="https://www.chapman.edu/our-faculty/marc-fleming" id="contact-dr-fleming-director-of-pscare"
                tabindex="0" title=""> Contact Dr. Fleming, Director of PSCARE
            </a>
        </div>
    </div>
</div>
<style>
    a.pscare-names {
        border-bottom: none !important;
    }

    a.pscare-names:hover {
        border-bottom: 1px dotted #a50034 !important;
    }
</style>