<div class="grid-block-widget__wrapper grid-block-widget__wrapper--sand">
  <div class="inner-container">
    <div class="section-intro text-align--centered">

      <h2 class="section-intro__header text-align--centered">
        Grid Block Widget
      </h2>

    </div>


    <div
      class="grid-block-widget__container grid-block-widget__container--images grid-block-widget__container--3-col ${gridColumnsVideos}  grid-block-widget__container--circle grid-block-widget__container--display-all"
      data-columns="${dataColumns}" id="grid-block-widget__container--2">








      <div class="grid-block-widget grid-block-widget--no-bg grid-block-widget--circle grid-block-widget--text-overflow"
        title-bg-color="no-bg">

        <img alt="kitten photo"
          class="grid-block-widget__image grid-block-widget__image--circle"
          src="https://static.tumblr.com/vlykcdf/lN2l9mwte/cute-kitten-303.jpg" style="object-position: center center">


        <div
          class="grid-block-widget__title text-align--center grid-block-widget__title--no-bg focus-no-border border-bottom--none istitlelinked-no">
          <span class="label border-bottom--none"></span>
        </div>


        <div
          class="grid-block-widget__text grid-block-widget__text--sand grid-block-widget__text--center text-align--center grid-block-widget__text--truncated"
          data-js="removed empty p tags via grid-block-widget.js" aria-expanded="false" data-scroll-height="163">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
          <p><strong>-Chapman</strong></p>

        </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--no-bg "
          style="display: flex;" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--no-bg "
          style="display: none;" tabindex="0">Show Less</span>
      </div>








      <div class="grid-block-widget grid-block-widget--no-bg grid-block-widget--circle grid-block-widget--text-overflow"
        title-bg-color="no-bg">

        <img alt="kitten photo" class="grid-block-widget__image grid-block-widget__image--circle"
          src="https://static.tumblr.com/vlykcdf/lN2l9mwte/cute-kitten-303.jpg" style="object-position: center center">


        <div
          class="grid-block-widget__title text-align--center grid-block-widget__title--no-bg focus-no-border border-bottom--none istitlelinked-no">
          <span class="label border-bottom--none"></span>
        </div>


        <div
          class="grid-block-widget__text grid-block-widget__text--sand grid-block-widget__text--center text-align--center"
          data-js="removed empty p tags via grid-block-widget.js" data-scroll-height="152">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
          <p><strong>-Chapman</strong></p>

        </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--no-bg "
          style="display: none;" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--no-bg "
          style="display:none;" tabindex="0">Show Less</span>
      </div>








      <div class="grid-block-widget grid-block-widget--no-bg grid-block-widget--circle grid-block-widget--text-overflow"
        title-bg-color="no-bg">

        <img alt="kitten photo" class="grid-block-widget__image grid-block-widget__image--circle"
          src="https://static.tumblr.com/vlykcdf/lN2l9mwte/cute-kitten-303.jpg" style="object-position: center center">


        <div
          class="grid-block-widget__title text-align--center grid-block-widget__title--no-bg focus-no-border border-bottom--none istitlelinked-no">
          <span class="label border-bottom--none"></span>
        </div>


        <div
          class="grid-block-widget__text grid-block-widget__text--sand grid-block-widget__text--center text-align--center  grid-block-widget__text--truncated"
          data-js="removed empty p tags via grid-block-widget.js" data-scroll-height="174">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>
          <p><strong>-Chapman</strong></p>

        </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--no-bg "
          style="" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--no-bg "
          style="display:none;" tabindex="0">Show Less</span>
      </div>

    </div>

  </div>
</div>