
<div class="grid-block-widget__wrapper ">
  <div class="inner-container">
      <div class="section-intro text-align--left-aligned">
        
    
        </div>
    
    <div class="grid-block-widget__container grid-block-widget__container--images grid-block-widget__container--2-col ${gridColumnsVideos}  grid-block-widget__container--landscape grid-block-widget__container--display-all" data-columns="" id="grid-block-widget__container--1">
  
  
          
    
    
            
            
        
    <div class="grid-block-widget grid-block-widget--sand grid-block-widget--landscape" title-bg-color="sand">
          
              <img alt="orange county business" class="grid-block-widget__image grid-block-widget__image--landscape" src="https://images.pexels.com/photos/346529/pexels-photo-346529.jpeg" style="object-position: center center"/>
    
          
              <div class="grid-block-widget__title text-align--center grid-block-widget__title--sand focus-no-border border-bottom--none istitlelinked-no">
          <span class="label border-bottom--none">CUOC25 Index</span>
        </div>
            
      
              <div class="grid-block-widget__text grid-block-widget__text--sand grid-block-widget__text--center text-align--center grid-block-widget__text--truncated">
          <p class="grid-block-widget__text-wrapper">
            <p data-cuindexcode="CUOC25" style="color: #a50034; font-family: Arial; font-size: 4rem; line-height: 6rem; font-weight: bold; margin-bottom: 10px;">Loading...</p>
<p style="font-weight: 400;">Designed to track the overall performance of public companies in Orange County by tracking the top 25 OC-Domiciled companies.&#160;</p>
<p style="font-weight: 400;"><a href="test.aspx">Learn more about CUOC25</a></p>
<p>&#160;</p>
          </p>
        </div>
            
      
          </div>
  
  
          
    
    
            
            
        
    <div class="grid-block-widget grid-block-widget--sand grid-block-widget--landscape" title-bg-color="sand">
          
              <img alt="California Business" class="grid-block-widget__image grid-block-widget__image--landscape" src="https://images.pexels.com/photos/346529/pexels-photo-346529.jpeg" style="object-position: center center"/>
    
          
              <div class="grid-block-widget__title text-align--center grid-block-widget__title--sand focus-no-border border-bottom--none istitlelinked-no">
          <span class="label border-bottom--none">CUCA100 Index</span>
        </div>
            
      
              <div class="grid-block-widget__text grid-block-widget__text--sand grid-block-widget__text--center text-align--center ">
          <p class="grid-block-widget__text-wrapper">
            <p data-cuindexcode="CUCA100" style="color: #a50034; font-family: Arial; font-size: 4rem; line-height: 6rem; font-weight: bold; margin-bottom: 10px;">Loading...</p>
<p><span>Designed to track the overall performance of public companies in California by tracking the top 100 CA-Domiciled companies.</span></p>
<p><a href="test.aspx"><span>Learn more about CUCA100</span></a></p>
<p>&#160;</p>
          </p>
        </div>
            
      
          </div>
  
      </div>
  
    </div>
  </div>