<div class="grid-block-widget__wrapper " data-bg-color="${oneColDataBgColor}">
  <div class="inner-container">
      <div class="intro-section text-align--left-aligned">
                <div class="intro-section__preheader text-align--left-aligned">
            Nick's Pre-Header
          </div>
        
                <h2 class="intro-section__header text-align--left-aligned">
            One Column Background Colors
          </h2>
        
                <div class="intro-section__text text-align--left-aligned  ">
            Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow teaching grand modernisation region distinguished emeritus nobel.
          </div>
            </div>
  
    
  
    <div class="grid-block-widget__container grid-block-widget__container--images grid-block-widget__container--grid-block-widget__container--3-col  grid-block-widget__container--landscape grid-block-widget__container--display-all  grid-block-widget__container--3-col" data-columns="3" id="grid-block-widget__container--1" style="grid-gap: 12px;">
  
  
    
          
  
    
      
      
      
      
      
    
      
      
              
              
  
    <div class="grid-block-widget grid-block-widget--white grid-block-widget--landscape ${oneColPadding}" data-onecolpadding="${oneColPadding}" title-bg-color="white" style="min-height: 538px;">
  
                <img alt="Bliss" class="grid-block-widget__image grid-block-widget__image--landscape" role="${imageRole}" src="/renderfile/6fef14a3c04d744c610b81dac0a8d082/test-section/grid-block-widget/bliss.jpg" style="object-position: center center">
  
      
            <div class="grid-block-widget__title text-align--left grid-block-widget__title--white focus-no-border border-bottom--none">
          <span class="label border-bottom--none">Microsoft Bliss</span>
        </div>
        
        
            <div class="grid-block-widget__text grid-block-widget__text--sand grid-block-widget__text--left text-align--left" data-truncate-text="no">
        <span class="grid-block-text__inner" data-js="removed empty <p> tags via grid-block-widget.js">
          <p>
            Bliss is the default computer wallpaper of Microsoft's Windows XP operating system. It is a virtually unedited photograph of a green hill and blue sky with clouds in the Los Carneros American Viticultural Area of California's Wine Country. Charles O'Rear took the photo in January 1996 and Microsoft bought the rights in 2000. It is estimated that billions of people have seen the picture, possibly making it the most viewed photograph in history.
          </p>
        </span>
        </div>
          <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--white ${oneColPadding}" style="display:none;" tabindex="0">Show More</span>
      <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--white ${oneColPadding}" style="display:none;" tabindex="0">Show Less</span>
    </div>
  
    
          
  
    
      
      
      
      
      
    
      
      
              
              
  
    <div class="grid-block-widget grid-block-widget--white grid-block-widget--landscape ${oneColPadding}" data-onecolpadding="${oneColPadding}" title-bg-color="black" style="min-height: 538px;">
  
                <img alt="aqua" class="grid-block-widget__image grid-block-widget__image--landscape" role="${imageRole}" src="/renderfile/6fef14a3c04d744c610b81dac0a8d082/test-section/grid-block-widget/screen-shot-2021-06-09-at-1.36.55-pm.png" style="object-position: center center">
  
      
            <div class="grid-block-widget__title text-align--left grid-block-widget__title--white focus-no-border border-bottom--none">
          <span class="label border-bottom--none">OS X Aqua</span>
        </div>
        
        
            <div class="grid-block-widget__text grid-block-widget__text--sand grid-block-widget__text--left text-align--left" data-truncate-text="no">
        <span class="grid-block-text__inner" data-js="removed empty <p> tags via grid-block-widget.js">
          <p>
            Aqua is the graphical user interface, design language and visual theme of Apple's macOS operating system. It was originally based on the theme of water, with droplet-like components and a liberal use of reflection effects and translucency...
          </p>
        </span>
        </div>
          <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--white ${oneColPadding}" style="display:none;" tabindex="0">Show More</span>
      <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--white ${oneColPadding}" style="display:none;" tabindex="0">Show Less</span>
    </div>
  
    
          
  
    
      
      
      
      
      
    
      
      
              
              
  
    <div class="grid-block-widget grid-block-widget--white grid-block-widget--landscape ${oneColPadding}" data-onecolpadding="${oneColPadding}" title-bg-color="white" style="min-height: 538px;">
  
                <img alt="ubuntu" class="grid-block-widget__image grid-block-widget__image--landscape" role="${imageRole}" src="/renderfile/6fef14a3c04d744c610b81dac0a8d082/test-section/grid-block-widget/screen-shot-2021-06-09-at-1.38.02-pm.png" style="object-position: center center">
  
      
            <div class="grid-block-widget__title text-align--left grid-block-widget__title--white focus-no-border border-bottom--none">
          <span class="label border-bottom--none">Ubuntu</span>
        </div>
        
        
            <div class="grid-block-widget__text grid-block-widget__text--sand grid-block-widget__text--left text-align--left" data-truncate-text="yes" container-height="220" overflowing="true">
        <span class="grid-block-text__inner" inner-height="347" style="" data-js="removed empty <p> tags via grid-block-widget.js">
          <p>
            Ubuntu&nbsp;(/ʊˈbʊntuː/&nbsp;(listen)&nbsp;uu-BUUN-too)[7]&nbsp;is a&nbsp;Linux distribution&nbsp;based on&nbsp;Debian&nbsp;and composed mostly of&nbsp;free and open-source software.[8][9][10]&nbsp;Ubuntu is officially released in three editions:&nbsp;Desktop,[11]&nbsp;Server,[12]&nbsp;and&nbsp;Core[13]&nbsp;for&nbsp;Internet of things&nbsp;devices[14]&nbsp;and&nbsp;robots.[15][16]&nbsp;All the editions can run on the computer alone, or in a&nbsp;virtual machine.[17]&nbsp;Ubuntu is a popular&nbsp;operating system&nbsp;for&nbsp;cloud computing, with support for&nbsp;OpenStack.[18]&nbsp;Ubuntu's default desktop has been&nbsp;GNOME, since version 17.10.[19]<br><br><a href="https://ubuntu.com/">https://ubuntu.com/</a>
          </p>
        </span>
        </div>
          <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--white ${oneColPadding}" style="" tabindex="0">Show More</span>
      <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--white ${oneColPadding}" style="display:none;" tabindex="0">Show Less</span>
    </div>
  
      </div>
  
  
  
  
  
  
  </div>
  </div>