
<div class="grid-block-widget__wrapper grid-block-widget__wrapper--sand">
  <div class="inner-container">
    <div class="section-intro text-align--centered">
      <div class="section-intro__preheader text-align--centered">

      </div>
      <h2 class="section-intro__header text-align--centered">
        EXPLORE OUR PROGRAMS
      </h2>
      <div class="section-intro__title text-align--centered">
        <sectionheaderparagraph>
        </sectionheaderparagraph>
      </div>
    </div>



    <div
      class="grid-block-widget__container grid-block-widget__container--images <%= grid_num_col %> grid-block-widget__container--landscape grid-block-widget__container--display-all"
      data-columns="4" id="grid-block-widget__container--3">
















      <div class="grid-block-widget grid-block-widget--sand grid-block-widget--landscape">

        <img alt="students in studio" class="grid-block-widget__image grid-block-widget__image--landscape"
          src="https://www.chapman.edu/dodge/_files/dodge-landing/bfa-broadcast-doc.jpg"
          style="object-position: center center">


        <a class="grid-block-widget__title text-align--center grid-block-widget__title--sand focus-no-border border-bottom--none"
          href="programs/undergraduate/bfa-news-doc.aspx">
          <span class="label border-bottom--dotted">BFA in Broadcast Journalism and Documentary</span>
        </a>


        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>















      <div class="grid-block-widget grid-block-widget--sand grid-block-widget--landscape">

        <img alt="students in studio" class="grid-block-widget__image grid-block-widget__image--landscape"
          src="https://www.chapman.edu/dodge/_files/dodge-landing/dodge-front-index1.jpg"
          style="object-position: center center">


        <a class="grid-block-widget__title text-align--center grid-block-widget__title--sand focus-no-border border-bottom--none"
          href="programs/undergraduate/bfa-creative-producing.aspx">
          <span class="label border-bottom--dotted">BFA in Creative Producing</span>
        </a>


        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>















      <div class="grid-block-widget grid-block-widget--sand grid-block-widget--landscape">

        <img alt="animation still" class="grid-block-widget__image grid-block-widget__image--landscape"
          src="https://www.chapman.edu/dodge/_files/dodge-landing/da-branded-slider-2.jpg"
          style="object-position: center center">


        <a class="grid-block-widget__title text-align--center grid-block-widget__title--sand focus-no-border border-bottom--none"
          href="programs/undergraduate/bfa-animation-vfx.aspx">
          <span class="label border-bottom--dotted">BFA in Animation and Visual Effects</span>
        </a>


        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>















      <div class="grid-block-widget grid-block-widget--sand grid-block-widget--landscape">

        <img alt="film still" class="grid-block-widget__image grid-block-widget__image--landscape"
          src="https://www.chapman.edu/dodge/_files/dodge-landing/bfa-fp-slider.jpg"
          style="object-position: center center">


        <a class="grid-block-widget__title text-align--center grid-block-widget__title--sand focus-no-border border-bottom--none"
          href="programs/undergraduate/bfa-film-production.aspx">
          <span class="label border-bottom--dotted">BFA in Film Production</span>
        </a>


        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>















      <div class="grid-block-widget grid-block-widget--sand grid-block-widget--landscape">

        <img alt="film student in classroom" class="grid-block-widget__image grid-block-widget__image--landscape"
          src="https://www.chapman.edu/dodge/_files/dodge-landing/ba-fs-slider.jpg"
          style="object-position: center center">


        <a class="grid-block-widget__title text-align--center grid-block-widget__title--sand focus-no-border border-bottom--none"
          href="programs/undergraduate/ba-film-studies.aspx">
          <span class="label border-bottom--dotted">BA in Film Studies</span>
        </a>


        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>















      <div class="grid-block-widget grid-block-widget--sand grid-block-widget--landscape">

        <img alt="film student presenting" class="grid-block-widget__image grid-block-widget__image--landscape"
          src="https://www.chapman.edu/dodge/_files/dodge-landing/pra-slider.jpg"
          style="object-position: center center">


        <a class="grid-block-widget__title text-align--center grid-block-widget__title--sand focus-no-border border-bottom--none"
          href="programs/undergraduate/public-relations-advertising.aspx">
          <span class="label border-bottom--dotted">BA in Public Relations and Advertising</span>
        </a>


        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>















      <div class="grid-block-widget grid-block-widget--sand grid-block-widget--landscape">

        <img alt="student in the writing room" class="grid-block-widget__image grid-block-widget__image--landscape"
          src="https://www.chapman.edu/dodge/_files/dodge-landing/bfasw-slider.jpg"
          style="object-position: center center">


        <a class="grid-block-widget__title text-align--center grid-block-widget__title--sand focus-no-border border-bottom--none"
          href="programs/undergraduate/bfa-screenwriting.aspx">
          <span class="label border-bottom--dotted">BFA in Screenwriting</span>
        </a>


        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>















      <div class="grid-block-widget grid-block-widget--sand grid-block-widget--landscape">

        <img alt="actor on set" class="grid-block-widget__image grid-block-widget__image--landscape"
          src="https://www.chapman.edu/dodge/_files/dodge-landing/bfa-screenacting-funnel.jpg"
          style="object-position: center center">


        <a class="grid-block-widget__title text-align--center grid-block-widget__title--sand focus-no-border border-bottom--none"
          href="../copa/theatre/academic-programs/bfa-screen-acting.aspx">
          <span class="label border-bottom--dotted">BFA in Screen Acting</span>
        </a>


        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>















      <div class="grid-block-widget grid-block-widget--sand grid-block-widget--landscape">

        <img alt="student filming" class="grid-block-widget__image grid-block-widget__image--landscape"
          src="https://www.chapman.edu/dodge/_files/dodge-landing/dodge-front-index2.jpg"
          style="object-position: center center">


        <a class="grid-block-widget__title text-align--center grid-block-widget__title--sand focus-no-border border-bottom--none"
          href="programs/undergraduate/bfa-tv-writing-prod.aspx">
          <span class="label border-bottom--dotted">BFA in Television Writing and Production</span>
        </a>


        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>















      <div class="grid-block-widget grid-block-widget--sand grid-block-widget--landscape">

        <img alt="film set" class="grid-block-widget__image grid-block-widget__image--landscape"
          src="https://www.chapman.edu/dodge/_files/dodge-landing/minors.jpg" style="object-position: center center">


        <a class="grid-block-widget__title text-align--center grid-block-widget__title--sand focus-no-border border-bottom--none"
          href="programs/undergraduate/minors.aspx">
          <span class="label border-bottom--dotted">Explore Minors</span>
        </a>


        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>















      <div class="grid-block-widget grid-block-widget--sand grid-block-widget--landscape">

        <img alt="Documentary film students" class="grid-block-widget__image grid-block-widget__image--landscape"
          src="https://www.chapman.edu/dodge/_files/dodge-landing/graduate-programs.jpg"
          style="object-position: center center">


        <a class="grid-block-widget__title text-align--center grid-block-widget__title--sand focus-no-border border-bottom--none"
          href="programs/graduate/index.aspx">
          <span class="label border-bottom--dotted">Explore Graduate Programs</span>
        </a>


        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>















      <div class="grid-block-widget grid-block-widget--sand grid-block-widget--landscape">

        <img alt="students in classroom" class="grid-block-widget__image grid-block-widget__image--landscape"
          src="apply/apply-now1.jpg" style="object-position: center center">


        <a class="grid-block-widget__title text-align--center grid-block-widget__title--sand focus-no-border border-bottom--none"
          href="apply/index.aspx">
          <span class="label border-bottom--dotted">Apply Now</span>
        </a>


        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>

    </div>






  </div>
</div>