<div class="grid-block-widget__wrapper grid-block-widget__wrapper--sand">
  <div class="inner-container">
    <div class="intro-section text-align--centered">
      <div class="intro-section__preheader text-align--centered">
      </div>
      <h2 class="intro-section__header text-align--centered">
        JOIN THE VILLAGE OF FILMMAKERS
      </h2>
      <div class="intro-section__title text-align--centered">
        <sectionheaderparagraph>
        </sectionheaderparagraph>
      </div>
    </div>
    <div
      class="grid-block-widget__container grid-block-widget__container--images <%= grid_num_col %> grid-block-widget__container--landscape grid-block-widget__container--display-all"
      data-columns="3" id="grid-block-widget__container--5">
      <div
        class="grid-block-widget grid-block-widget--sand grid-block-widget--landscape ">
        <img alt="international students" class="grid-block-widget__image grid-block-widget__image--landscape"
          src="http://placekitten.com/200/300" style="object-position: center center">
        <div
          class="grid-block-widget__title text-align--left grid-block-widget__title--sand focus-no-border border-bottom--none">
          <span class="label border-bottom--none">Inclusion</span>
        </div>
        <div
          id="grid-overflow"
          class="grid-block-widget__text grid-block-widget__text--sand grid-block-widget__text--left text-align--left no-bg "
          data-js="removed empty <p> tags via grid-block-widget.js">
          <span class="grid-block-text__inner">
          <p>We’ve hired 20 professors of color in the past year alone. We have a majority-female student body. And we
            have students from every race and religion, all made to feel welcome in this collaborative community.</p>
          <p>Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
            community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
            teaching grand modernisation region distinguished emeritus nobel.
          </p>
          <p><a href="about/diversity-and-inclusion.aspx"><span>Learn More About Our Efforts</span></a><span></span></p>
          </span>
        </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--sand no-bg"
          style="display:none" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>
      <div
        class="grid-block-widget grid-block-widget--sand grid-block-widget--landscape ">
        <img alt="international students" class="grid-block-widget__image grid-block-widget__image--landscape"
          src="http://placekitten.com/200/300" style="object-position: center center">
        <div
          class="grid-block-widget__title text-align--left grid-block-widget__title--sand focus-no-border border-bottom--none">
          <span class="label border-bottom--none">Inclusion</span>
        </div>
        <div
          id="grid-overflow"
          class="grid-block-widget__text grid-block-widget__text--sand grid-block-widget__text--left text-align--left no-bg "
          data-js="removed empty <p> tags via grid-block-widget.js">
          <span class="grid-block-text__inner">
          <p>We’ve hired 20 professors of color in the past year alone. We have a majority-female student body. And we
            have students from every race and religion, all made to feel welcome in this collaborative community.</p>
          <p>Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
            community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
            teaching grand modernisation region distinguished emeritus nobel.
          </p>
          <p><a href="about/diversity-and-inclusion.aspx"><span>Learn More About Our Efforts</span></a><span></span></p>
          </span>
        </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--sand no-bg"
          style="display:none" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>
      <div
        class="grid-block-widget grid-block-widget--sand grid-block-widget--landscape ">
        <img alt="international students" class="grid-block-widget__image grid-block-widget__image--landscape"
          src="http://placekitten.com/200/300" style="object-position: center center">
        <div
          class="grid-block-widget__title text-align--left grid-block-widget__title--sand focus-no-border border-bottom--none">
          <span class="label border-bottom--none">Inclusion</span>
        </div>
        <div
          id="grid-overflow"
          class="grid-block-widget__text grid-block-widget__text--sand grid-block-widget__text--left text-align--left no-bg "
          data-js="removed empty <p> tags via grid-block-widget.js">
          <span class="grid-block-text__inner">
          <p>We’ve hired 20 professors of color in the past year alone. We have a majority-female student body. And we
            have students from every race and religion, all made to feel welcome in this collaborative community.</p>
          <p>Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
            community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
            teaching grand modernisation region distinguished emeritus nobel.
          </p>
          <p><a href="about/diversity-and-inclusion.aspx"><span>Learn More About Our Efforts</span></a><span></span></p>
          </span>
        </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--sand no-bg"
          style="display:none" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>
      <div
        class="grid-block-widget grid-block-widget--sand grid-block-widget--landscape ">
        <img alt="international students" class="grid-block-widget__image grid-block-widget__image--landscape"
          src="http://placekitten.com/200/300" style="object-position: center center">
        <div
          class="grid-block-widget__title text-align--left grid-block-widget__title--sand focus-no-border border-bottom--none">
          <span class="label border-bottom--none">Inclusion</span>
        </div>
        <div
          id="grid-overflow"
          class="grid-block-widget__text grid-block-widget__text--sand grid-block-widget__text--left text-align--left no-bg "
          data-js="removed empty <p> tags via grid-block-widget.js">
          <span class="grid-block-text__inner">
          <p>We’ve hired 20 professors of color in the past year alone. We have a majority-female student body. And we
            have students from every race and religion, all made to feel welcome in this collaborative community.</p>
          <p>Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
            community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
            teaching grand modernisation region distinguished emeritus nobel.
          </p>
          <p><a href="about/diversity-and-inclusion.aspx"><span>Learn More About Our Efforts</span></a><span></span></p>
          </span>
        </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--sand no-bg"
          style="display:none" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>
      <div
        class="grid-block-widget grid-block-widget--sand grid-block-widget--landscape ">
        <img alt="international students" class="grid-block-widget__image grid-block-widget__image--landscape"
          src="http://placekitten.com/200/300" style="object-position: center center">
        <div
          class="grid-block-widget__title text-align--left grid-block-widget__title--sand focus-no-border border-bottom--none">
          <span class="label border-bottom--none">Inclusion</span>
        </div>
        <div
          id="grid-overflow"
          class="grid-block-widget__text grid-block-widget__text--sand grid-block-widget__text--left text-align--left no-bg "
          data-js="removed empty <p> tags via grid-block-widget.js">
          <span class="grid-block-text__inner">
          <p>We’ve hired 20 professors of color in the past year alone. We have a majority-female student body. And we
            have students from every race and religion, all made to feel welcome in this collaborative community.</p>
          <p>Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
            community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
            teaching grand modernisation region distinguished emeritus nobel.
          </p>
          <p><a href="about/diversity-and-inclusion.aspx"><span>Learn More About Our Efforts</span></a><span></span></p>
          </span>
        </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--sand no-bg"
          style="display:none" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>
      <div
        class="grid-block-widget grid-block-widget--sand grid-block-widget--landscape ">
        <img alt="international students" class="grid-block-widget__image grid-block-widget__image--landscape"
          src="http://placekitten.com/200/300" style="object-position: center center">
        <div
          class="grid-block-widget__title text-align--left grid-block-widget__title--sand focus-no-border border-bottom--none">
          <span class="label border-bottom--none">Inclusion</span>
        </div>
        <div
          id="grid-overflow"
          class="grid-block-widget__text grid-block-widget__text--sand grid-block-widget__text--left text-align--left no-bg "
          data-js="removed empty <p> tags via grid-block-widget.js">
          <span class="grid-block-text__inner">
          <p>We’ve hired 20 professors of color in the past year alone. We have a majority-female student body. And we
            have students from every race and religion, all made to feel welcome in this collaborative community.</p>
          <p>Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
            community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
            teaching grand modernisation region distinguished emeritus nobel.
          </p>
          <p><a href="about/diversity-and-inclusion.aspx"><span>Learn More About Our Efforts</span></a><span></span></p>
          </span>
        </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--sand no-bg"
          style="display:none" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>
      <div
        class="grid-block-widget grid-block-widget--sand grid-block-widget--landscape ">
        <img alt="international students" class="grid-block-widget__image grid-block-widget__image--landscape"
          src="http://placekitten.com/200/300" style="object-position: center center">
        <div
          class="grid-block-widget__title text-align--left grid-block-widget__title--sand focus-no-border border-bottom--none">
          <span class="label border-bottom--none">Inclusion</span>
        </div>
        <div
          id="grid-overflow"
          class="grid-block-widget__text grid-block-widget__text--sand grid-block-widget__text--left text-align--left no-bg "
          data-js="removed empty <p> tags via grid-block-widget.js">
          <span class="grid-block-text__inner">
          <p>We’ve hired 20 professors of color in the past year alone. We have a majority-female student body. And we
            have students from every race and religion, all made to feel welcome in this collaborative community.</p>
          <p>Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
            community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
            teaching grand modernisation region distinguished emeritus nobel.
          </p>
          <p><a href="about/diversity-and-inclusion.aspx"><span>Learn More About Our Efforts</span></a><span></span></p>
          </span>
        </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--sand no-bg"
          style="display:none" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>
      <div
        class="grid-block-widget grid-block-widget--sand grid-block-widget--landscape ">
        <img alt="career services" class="grid-block-widget__image grid-block-widget__image--landscape"
          src="https://www.chapman.edu/dodge/_files/dodge-landing/career1.jpg" style="object-position: center center">
        <div
          class="grid-block-widget__title text-align--left grid-block-widget__title--sand focus-no-border border-bottom--none">
          <span class="label border-bottom--none">Careers</span>
        </div>
        <div
          class="grid-block-widget__text grid-block-widget__text--sand grid-block-widget__text--left text-align--left no-bg "
          data-js="removed empty <p> tags via grid-block-widget.js">
          <span class="grid-block-text__inner">
          <p>Discover our brand-new Careers Hub, opening in Fall 2021, led by a team of professionals working to find
            jobs and internships for every student on campus under the guidance of their very own agent, Joe Rosenberg.
          </p>
          <p>
            <from advice="" beyond="" career="" chapman="" classroom="" events="" far="" industry="" networking=""
              offers="" p="" personalized="" support="" the="" to=""><a
                href="https://blogs.chapman.edu/dodge/2021/03/04/dodge-career-office-presents-spring-2021-workshops/">View
                Our Career Support Programming</a></from>
          </p>
</span>
        </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--sand no-bg"
          style="display:none" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>
<div
        class="grid-block-widget grid-block-widget--sand grid-block-widget--landscape ">
        <img alt="Knott Theater" class="grid-block-widget__image grid-block-widget__image--landscape"
          src="https://www.chapman.edu/dodge/_files/dodge-landing/theater.jpg" style="object-position: center center">
        <div
          class="grid-block-widget__title text-align--left grid-block-widget__title--sand focus-no-border border-bottom--none">
          <span class="label border-bottom--none">State-of-the-Art Facilities</span>
        </div>
        <div
          class="grid-block-widget__text grid-block-widget__text--sand grid-block-widget__text--left text-align--left no-bg"
          data-scroll-height="132" data-js="removed empty <p> tags via grid-block-widget.js">
          <span class="grid-block-text__inner">
          <p>With a 500-seat theater, world-class soundstages and a newly-installed LED wall, we’re preparing our
            students not just for today but the future.</p>
          <p><a href="facilities/index.aspx"><span>Learn More About Our Facilities</span></a></p>
</span>
        </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>
    </div>
  </div>
</div>
<div class="grid-block-widget__wrapper ">
<div class="inner-container">
    <div class="intro-section text-align--centered">
      <div class="intro-section__preheader text-align--centered">
        Programs that Change Lives and Change the World
      </div>
      <h2 class="intro-section__header text-align--centered">  
        Wilkinson College at a Glance
      </h2>
      <div class="intro-section__title text-align--centered">     
        <sectionheaderparagraph>
      </sectionheaderparagraph></div>
    </div>
  <div class="grid-block-widget__container grid-block-widget__container--noImagesVideos grid-block-widget__container--3-col  grid-block-widget__container-- grid-block-widget__container--display-all" data-columns="3" id="grid-block-widget__container--2">
  <div class="grid-block-widget grid-block-widget--black grid-block-widget-- grid-block-widget--text-overflow">
        <div class="grid-block-widget__title text-align--center grid-block-widget__title--black focus-no-border border-bottom--none">
        <span class="label border-bottom--none">13:1 Student to Faculty Ratio</span>
      </div>
          <div class="grid-block-widget__text grid-block-widget__text--black grid-block-widget__text--center text-align--center" data-scroll-height="46" data-js="removed empty <p> tags via grid-block-widget.js">
        <p>
          (18:1 national average)
        </p>
      </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--black " style="display:none;" tabindex="0">Show More</span>
    <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--black " style="display:none;" tabindex="0">Show Less</span>
  </div>
  <div class="grid-block-widget grid-block-widget--black grid-block-widget-- grid-block-widget--text-overflow">
        <div class="grid-block-widget__title text-align--center grid-block-widget__title--black focus-no-border border-bottom--none">
        <span class="label border-bottom--none">308 Total Faculty &amp; Staff</span>
      </div>
          <div class="grid-block-widget__text grid-block-widget__text--black grid-block-widget__text--center text-align--center" data-scroll-height="46" data-js="removed empty <p> tags via grid-block-widget.js">
        <p>122 FT - 165 PT - 21 Admins</p>
      </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--black " style="display:none;" tabindex="0">Show More</span>
    <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--black " style="display:none;" tabindex="0">Show Less</span>
  </div>
  <div class="grid-block-widget grid-block-widget--black grid-block-widget-- grid-block-widget--text-overflow">
        <div class="grid-block-widget__title text-align--center grid-block-widget__title--black focus-no-border border-bottom--none">
        <span class="label border-bottom--none">2,482 Majors and Minors</span>
      </div>
          <div class="grid-block-widget__text grid-block-widget__text--black grid-block-widget__text--center text-align--center" data-scroll-height="46" data-js="removed empty <p> tags via grid-block-widget.js">
        <p>1,110 Majors - 1,372 Minors</p>
      </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--black " style="display:none;" tabindex="0">Show More</span>
    <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--black " style="display:none;" tabindex="0">Show Less</span>
  </div>
  <div class="grid-block-widget grid-block-widget--black grid-block-widget-- grid-block-widget--text-overflow">
        <div class="grid-block-widget__title text-align--center grid-block-widget__title--black focus-no-border border-bottom--none">
        <span class="label border-bottom--none">R2 University Classification (High Research)</span>
      </div>
          <div class="grid-block-widget__text grid-block-widget__text--black grid-block-widget__text--center text-align--center" data-scroll-height="46" data-js="removed empty <p> tags via grid-block-widget.js">
        <p>
          Carnegie Classification
        </p>
      </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--black " style="display:none;" tabindex="0">Show More</span>
    <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--black " style="display:none;" tabindex="0">Show Less</span>
  </div>
  <div class="grid-block-widget grid-block-widget--black grid-block-widget-- grid-block-widget--text-overflow">
        <div class="grid-block-widget__title text-align--center grid-block-widget__title--black focus-no-border border-bottom--none">
        <span class="label border-bottom--none">#124 U.S. News National Universities Ranking</span>
      </div>
          <div class="grid-block-widget__text grid-block-widget__text--black grid-block-widget__text--center text-align--center" data-scroll-height="46" data-js="removed empty <p> tags via grid-block-widget.js">
        <p>
          (out of 400)
        </p>
      </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--black " style="display:none;" tabindex="0">Show More</span>
    <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--black " style="display:none;" tabindex="0">Show Less</span>
  </div>
  <div class="grid-block-widget grid-block-widget--black grid-block-widget-- grid-block-widget--text-overflow">
        <div class="grid-block-widget__title text-align--center grid-block-widget__title--black focus-no-border border-bottom--none">
        <span class="label border-bottom--none">#39 Best Undergraduate Teaching</span>
      </div>
          <div class="grid-block-widget__text grid-block-widget__text--black grid-block-widget__text--center text-align--center" data-scroll-height="46" data-js="removed empty <p> tags via grid-block-widget.js">
        <p>
          (out of 1,452 schools)
        </p>
      </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--black " style="display:none;" tabindex="0">Show More</span>
    <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--black " style="display:none;" tabindex="0">Show Less</span>
  </div>
    </div>
</div>
</div>


<%# vimeo embeds %>
<div class="grid-block-widget__wrapper grid-block-widget__wrapper--white">
<div class="inner-container">
    <div class="intro-section text-align--centered">
      <div class="intro-section__preheader text-align--centered">
        
      </div>
      <h2 class="intro-section__header text-align--centered">  
        STUDENT WORK SHOWCASE
      </h2>
      <div class="intro-section__title text-align--centered">     
        Explore a selection of student projects, from narrative films to public relations campaigns
      </div>
    </div>
    
      

  <div class="grid-block-widget__container grid-block-widget__container--videos grid-block-widget__container--3-col  grid-block-widget__container-- grid-block-widget__container--display-all" data-columns="3" id="grid-block-widget__container--4">
  

  
          
    
  
    
    
        

    
  
    
    
            
            
  <div class="grid-block-widget grid-block-widget--white grid-block-widget-- grid-block-widget--text-overflow">
    
                           <iframe allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="true" frameborder="0" height="720" src="https://player.vimeo.com/video/492263212?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" title="BIRDS WITHOUT WINGS" width="1280"></iframe> 
        
          <a class="grid-block-widget__title text-align--left grid-block-widget__title--white focus-no-border border-bottom--none" href="https://vimeo.com/showcase/1965724/video/220079067">
        <span class="label border-bottom--dotted">Birds Without Wings | Documentary</span>
      </a>
          
      
          <div class="grid-block-widget__text grid-block-widget__text--black grid-block-widget__text--left text-align--left no-bg" data-scroll-height="90" data-js="removed empty <p> tags via grid-block-widget.js">
        <p>
          <span>Two adults who grew up in the slums of Delhi strive to give new wings to the kids bounded by the shackles of poverty, drugs, and society.</span>
        </p>
      </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--white no-bg" style="display:none;" tabindex="0">Show More</span>
    <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--white no-bg" style="display:none;" tabindex="0">Show Less</span>
  </div>
  
  
          
    
  
    
    
        

    
  
    
    
            
            
  <div class="grid-block-widget grid-block-widget--white grid-block-widget-- grid-block-widget--text-overflow">
    
                           <iframe allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="true" frameborder="0" height="1080" src="https://player.vimeo.com/video/180967730?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" title="Rocket" width="1920"></iframe> 
        
          <a class="grid-block-widget__title text-align--left grid-block-widget__title--white focus-no-border border-bottom--none" href="https://vimeo.com/180967730">
        <span class="label border-bottom--dotted">Rocket | Narrative</span>
      </a>
          
      
          <div class="grid-block-widget__text grid-block-widget__text--black grid-block-widget__text--left text-align--left no-bg" data-scroll-height="90" data-js="removed empty <p> tags via grid-block-widget.js">
        <p>
          <span>A bittersweet fairy tale set in the world of 1950’s dirt track racing. Rocket is a Student Academy Awards winner for Narrative Film.</span>
        </p>
      </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--white no-bg" style="display:none;" tabindex="0">Show More</span>
    <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--white no-bg" style="display:none;" tabindex="0">Show Less</span>
  </div>
  
  
          
    
  
    
    
        

    
  
    
    
            
            
  <div class="grid-block-widget grid-block-widget--white grid-block-widget-- grid-block-widget--text-overflow">
    
                           <iframe allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="true" frameborder="0" height="1080" src="https://player.vimeo.com/video/143392092?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" title="Chiaroscuro" width="1920"></iframe> 
        
          <a class="grid-block-widget__title text-align--left grid-block-widget__title--white focus-no-border border-bottom--none" href="https://vimeo.com/143392092">
        <span class="label border-bottom--dotted">Chiaroscuro | Animation</span>
      </a>
          
      
          <div class="grid-block-widget__text grid-block-widget__text--black grid-block-widget__text--left text-align--left no-bg" data-scroll-height="112" data-js="removed empty <p> tags via grid-block-widget.js">
        <p>In a desolate place, a discovery by a mysterious entity sets in motion a chase through abstract space. Chiaroscuro is a Student Academy Award winner for Alternative Film.</p>
        
      </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--white no-bg" style="display:none;" tabindex="0">Show More</span>
    <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--white no-bg" style="display:none;" tabindex="0">Show Less</span>
  </div>
  
  
          
    
  
    
    
        

    
  
    
    
            
            
  <div class="grid-block-widget grid-block-widget--white grid-block-widget-- grid-block-widget--text-overflow">
    
                           <iframe allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="true" frameborder="0" height="818" src="https://player.vimeo.com/video/168093587?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" title="Icarus" width="1920"></iframe> 
        
          <a class="grid-block-widget__title text-align--left grid-block-widget__title--white focus-no-border border-bottom--none" href="https://vimeo.com/168093587">
        <span class="label border-bottom--dotted">Icarus | Narrative</span>
      </a>
          
      
          <div class="grid-block-widget__text grid-block-widget__text--black grid-block-widget__text--left text-align--left no-bg" data-scroll-height="112" data-js="removed empty <p> tags via grid-block-widget.js">
        <p>
          <span>When a Mars colony’s comm satellite is damaged, Emilia Riley embarks on a seemingly harmless repair excursion. Icarus is winner of numerous film festival awards.&nbsp;</span>
        </p>
      </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--white no-bg" style="display:none;" tabindex="0">Show More</span>
    <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--white no-bg" style="display:none;" tabindex="0">Show Less</span>
  </div>
  
  
          
    
  
    
    
        

    
  
    
    
            
            
  <div class="grid-block-widget grid-block-widget--white grid-block-widget-- grid-block-widget--text-overflow">
    
                           <iframe allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="true" frameborder="0" height="1080" src="https://player.vimeo.com/video/219605249?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" title="Night Call" width="1920"></iframe> 
        
          <a class="grid-block-widget__title text-align--left grid-block-widget__title--white focus-no-border border-bottom--none" href="https://vimeo.com/219605249">
        <span class="label border-bottom--dotted">Night Call | Narrative</span>
      </a>
          
      
          <div class="grid-block-widget__text grid-block-widget__text--black grid-block-widget__text--left text-align--left no-bg" data-scroll-height="134" data-js="removed empty <p> tags via grid-block-widget.js">
        <p class="first"><span>When on a routine patrol, a Black female cop living in and patrolling Inglewood gets called to a disturbance she is forced to make an unprecedented life altering decision. Night Call&nbsp;is winner of numerous film festival awards.&nbsp;</span></p>
        
      </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--white no-bg" style="display: none;" tabindex="0">Show More</span>
    <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--white no-bg" style="display:none;" tabindex="0">Show Less</span>
  </div>
  
  
          
    
  
    
    
        

    
  
    
    
            
            
  <div class="grid-block-widget grid-block-widget--white grid-block-widget-- grid-block-widget--text-overflow">
    
                           <iframe allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="true" frameborder="0" height="1080" src="https://player.vimeo.com/video/332339100?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" title="TWO PAPER NIGHTINGALES" width="1920"></iframe> 
        
          <a class="grid-block-widget__title text-align--left grid-block-widget__title--white focus-no-border border-bottom--none" href="https://vimeo.com/332339100">
        <span class="label border-bottom--dotted">Two Paper Nightingales | Narrative</span>
      </a>
          
      
          <div class="grid-block-widget__text grid-block-widget__text--black grid-block-widget__text--left text-align--left no-bg" data-scroll-height="90" data-js="removed empty <p> tags via grid-block-widget.js">
        <p>
          <span>A fairy tale of two sisters torn apart by war, told from three different cultural perspectives.Two Paper Nightingales is&nbsp;Student Academy Awards finalist.&nbsp;</span>
        </p>
      </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--white no-bg" style="display:none;" tabindex="0">Show More</span>
    <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--white no-bg" style="display:none;" tabindex="0">Show Less</span>
  </div>
  
    </div>







  <div class="grid-block-widget__cta grid-block-widget__cta--centered futura-regular fw-bold" data-display-cta="yes">
    
    
    
                
        
        
                        
                            
                        
      
                                    <a aria-label="" class="button border-bottom--none button--red" data-attribute="" href="/entity/open.act?type=page&amp;id=3fdeb32bc04d744c580ddf89b8141b9c&amp;confId=f06dbaa1c0a81e410a9e1928e0c40825" id="explore-more-student-projects" tabindex="0" target="_parent" title="">    Explore More Student Projects
</a>
                          </div>
</div>
</div>