



<div class="grid-block-widget__wrapper grid-block-widget__wrapper--sand">
  <div class="inner-container">
    <div class="section-intro text-align--centered">
      <div class="section-intro__preheader text-align--centered">

      </div>
      <h2 class="section-intro__header text-align--centered">
        JOIN THE VILLAGE OF FILMMAKERS
      </h2>
      <div class="section-intro__title text-align--centered">
        <sectionheaderparagraph>
        </sectionheaderparagraph>
      </div>
    </div>



    <div
      class="grid-block-widget__container grid-block-widget__container--images <%= grid_num_col %> grid-block-widget__container--landscape grid-block-widget__container--display-all"
      data-columns="3" id="grid-block-widget__container--5">
















      <div
        class="grid-block-widget grid-block-widget--sand grid-block-widget--landscape grid-block-widget--text-overflow">

        <img alt="international students" class="grid-block-widget__image grid-block-widget__image--landscape"
          src="programs/undergraduate/international-student.jpg" style="object-position: center center">


        <div
          class="grid-block-widget__title text-align--left grid-block-widget__title--sand focus-no-border border-bottom--none">
          <span class="label border-bottom--none">Inclusion</span>
        </div>


        <div
          class="grid-block-widget__text grid-block-widget__text--sand grid-block-widget__text--left text-align--left no-bg grid-block-widget__text--truncated"
          data-scroll-height="176" data-js="removed empty <p> tags via grid-block-widget.js">
          <p>We’ve hired 20 professors of color in the past year alone. We have a majority-female student body. And we
            have students from every race and religion, all made to feel welcome in this collaborative community.</p>
          <p>Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
            community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
            teaching grand modernisation region distinguished emeritus nobel.

          </p>
          <p><a href="about/diversity-and-inclusion.aspx"><span>Learn More About Our Efforts</span></a><span></span></p>

        </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--sand no-bg"
          style="display:none" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>















      <div
        class="grid-block-widget grid-block-widget--sand grid-block-widget--landscape grid-block-widget--text-overflow">

        <img alt="career services" class="grid-block-widget__image grid-block-widget__image--landscape"
          src="https://www.chapman.edu/dodge/_files/dodge-landing/career1.jpg" style="object-position: center center">


        <div
          class="grid-block-widget__title text-align--left grid-block-widget__title--sand focus-no-border border-bottom--none">
          <span class="label border-bottom--none">Careers</span>
        </div>


        <div
          class="grid-block-widget__text grid-block-widget__text--sand grid-block-widget__text--left text-align--left no-bg grid-block-widget__text--truncated"
          data-scroll-height="176" data-js="removed empty <p> tags via grid-block-widget.js">
          <p>Discover our brand-new Careers Hub, opening in Fall 2021, led by a team of professionals working to find
            jobs and internships for every student on campus under the guidance of their very own agent, Joe Rosenberg.
          </p>
          <p>
            <from advice="" beyond="" career="" chapman="" classroom="" events="" far="" industry="" networking=""
              offers="" p="" personalized="" support="" the="" to=""><a
                href="https://blogs.chapman.edu/dodge/2021/03/04/dodge-career-office-presents-spring-2021-workshops/">View
                Our Career Support Programming</a></from>
          </p>

        </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--sand no-bg"
          style="display:none" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>















      <div
        class="grid-block-widget grid-block-widget--sand grid-block-widget--landscape grid-block-widget--text-overflow">

        <img alt="Knott Theater" class="grid-block-widget__image grid-block-widget__image--landscape"
          src="https://www.chapman.edu/dodge/_files/dodge-landing/theater.jpg" style="object-position: center center">


        <div
          class="grid-block-widget__title text-align--left grid-block-widget__title--sand focus-no-border border-bottom--none">
          <span class="label border-bottom--none">State-of-the-Art Facilities</span>
        </div>


        <div
          class="grid-block-widget__text grid-block-widget__text--sand grid-block-widget__text--left text-align--left no-bg"
          data-scroll-height="132" data-js="removed empty <p> tags via grid-block-widget.js">
          <p>With a 500-seat theater, world-class soundstages and a newly-installed LED wall, we’re preparing our
            students not just for today but the future.</p>
          <p><a href="facilities/index.aspx"><span>Learn More About Our Facilities</span></a></p>

        </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--sand no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>

    </div>






  </div>
</div>