

<div class="grid-block-widget__wrapper grid-block-widget__wrapper--white">
  <div class="inner-container">
    <div class="intro-section text-align--centered">
      <div class="intro-section__preheader text-align--centered">
        Chapman Master Classes
      </div>
      <h2 class="intro-section__header text-align--centered">
        LEARN FROM INDUSTRY LEADERS
      </h2>
      <div class="intro-section__title text-align--centered">
        <span>The second season of the Chapman Master Classes features an exciting lineup of entertainment industry
          leaders and visionaries.</span>
      </div>
    </div>

    <div
      class="grid-block-widget__container grid-block-widget__container--images num_col grid-block-widget__container--circle grid-block-widget__container--display-all <%= grid_num_col %> "
      data-columns="5" id="grid-block-widget__container--2">
















      <div
        class="grid-block-widget grid-block-widget--no-bg grid-block-widget--circle grid-block-widget--text-overflow">

        <img alt="Lulu Wang" class="grid-block-widget__image grid-block-widget__image--circle"
          src="https://www.chapman.edu/dodge/_files/dodge-landing/luluwang.jpg" style="object-position: center center">


        <a class="grid-block-widget__title text-align--center grid-block-widget__title--no-bg focus-no-border border-bottom--none"
          href="https://www.facebook.com/DodgeCollege/posts/10157788247032514">
          <span class="label border-bottom--dotted">Lulu Wang</span>
        </a>


        <div
          class="grid-block-widget__text grid-block-widget__text--white grid-block-widget__text--center text-align--center no-bg"
          data-scroll-height="68" data-js="removed empty <p> tags via grid-block-widget.js">
          <p>
            <span>Director<br></span><i>The Farewell</i>
          </p>
        </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--no-bg no-bg"
          style="display:none;" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--no-bg no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>















      <div
        class="grid-block-widget grid-block-widget--no-bg grid-block-widget--circle grid-block-widget--text-overflow">

        <img alt="Dee Dee Myers" class="grid-block-widget__image grid-block-widget__image--circle"
          src="https://www.chapman.edu/dodge/_files/dodge-landing/deedee-meyers1.jpg"
          style="object-position: center center">


        <a class="grid-block-widget__title text-align--center grid-block-widget__title--no-bg focus-no-border border-bottom--none"
          href="https://www.thepanthernewspaper.org/politics/former-white-house-press-secretary-dee-dee-myers-talks-female-empowerment?rq=dee%20dee%20myers">
          <span class="label border-bottom--dotted">Dee Dee Myers</span>
        </a>


        <div
          class="grid-block-widget__text grid-block-widget__text--white grid-block-widget__text--center text-align--center no-bg"
          data-scroll-height="134" data-js="removed empty <p> tags via grid-block-widget.js">
          <p>
            <span>Former White House&nbsp;press secretary&nbsp;and Warner Bros. head of communications</span>
          </p>
        </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--no-bg no-bg"
          style="display:none;" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--no-bg no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>















      <div
        class="grid-block-widget grid-block-widget--no-bg grid-block-widget--circle grid-block-widget--text-overflow">

        <img alt="Barry Jenkins" class="grid-block-widget__image grid-block-widget__image--circle"
          src="https://www.chapman.edu/dodge/_files/dodge-landing/jenkins1.jpg" style="object-position: center center">


        <a class="grid-block-widget__title text-align--center grid-block-widget__title--no-bg focus-no-border border-bottom--none"
          href="https://www.thepanthernewspaper.org/entertainment/barry-jenkins-speaks-at-chapman?rq=barry%20jenkins">
          <span class="label border-bottom--dotted">Barry Jenkins</span>
        </a>


        <div
          class="grid-block-widget__text grid-block-widget__text--white grid-block-widget__text--center text-align--center no-bg"
          data-scroll-height="68" data-js="removed empty <p> tags via grid-block-widget.js">
          <p>
            <span>Writer-director&nbsp;<br></span><em>Moonlight</em>
          </p>
        </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--no-bg no-bg"
          style="display:none;" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--no-bg no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>















      <div
        class="grid-block-widget grid-block-widget--no-bg grid-block-widget--circle grid-block-widget--text-overflow">

        <img alt="Bryan Cranston" class="grid-block-widget__image grid-block-widget__image--circle"
          src="https://www.chapman.edu/dodge/_files/dodge-landing/cranston.jpg" style="object-position: center center">


        <a class="grid-block-widget__title text-align--center grid-block-widget__title--no-bg focus-no-border border-bottom--none"
          href="https://www.instagram.com/p/CMGPaANheoF/">
          <span class="label border-bottom--dotted">Bryan Cranston</span>
        </a>


        <div
          class="grid-block-widget__text grid-block-widget__text--white grid-block-widget__text--center text-align--center no-bg"
          data-scroll-height="68" data-js="removed empty <p> tags via grid-block-widget.js">
          <p>
            <span>Actor, Director Writer, Producer</span>
          </p>
        </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--no-bg no-bg"
          style="display:none;" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--no-bg no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>















      <div
        class="grid-block-widget grid-block-widget--no-bg grid-block-widget--circle grid-block-widget--text-overflow">

        <img alt="Ruth E. Carter" class="grid-block-widget__image grid-block-widget__image--circle"
          src="https://www.chapman.edu/dodge/_files/dodge-landing/carter1.jpg" style="object-position: center center">


        <a class="grid-block-widget__title text-align--center grid-block-widget__title--no-bg focus-no-border border-bottom--none"
          href="https://blogs.chapman.edu/dodge/announcement/the-chapman-master-classes-ruth-e-carter-oscar-winning-costume-designer/">
          <span class="label border-bottom--dotted">Ruth E. Carter</span>
        </a>


        <div
          class="grid-block-widget__text grid-block-widget__text--white grid-block-widget__text--center text-align--center no-bg"
          data-scroll-height="68" data-js="removed empty <p> tags via grid-block-widget.js">
          <p>
            <span>Costume Designer<br></span><em>Black Panther</em>
          </p>
        </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--no-bg no-bg"
          style="display:none;" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--no-bg no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>















      <div
        class="grid-block-widget grid-block-widget--no-bg grid-block-widget--circle grid-block-widget--text-overflow">

        <img alt="Jason Blum" class="grid-block-widget__image grid-block-widget__image--circle"
          src="https://www.chapman.edu/dodge/_files/dodge-landing/jason-blum1.jpg"
          style="object-position: center center">


        <a class="grid-block-widget__title text-align--center grid-block-widget__title--no-bg focus-no-border border-bottom--none"
          href="https://blogs.chapman.edu/dodge/2021/01/27/chapman-university-master-classes-spring-edition/">
          <span class="label border-bottom--dotted">Jason Blum</span>
        </a>


        <div
          class="grid-block-widget__text grid-block-widget__text--white grid-block-widget__text--center text-align--center no-bg"
          data-scroll-height="68" data-js="removed empty <p> tags via grid-block-widget.js">
          <p>
            <span>Producer<br></span><em>Paranormal Activity</em>
          </p>
        </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--no-bg no-bg"
          style="display:none;" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--no-bg no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>















      <div
        class="grid-block-widget grid-block-widget--no-bg grid-block-widget--circle grid-block-widget--text-overflow">

        <img alt="Damien Chazelle" class="grid-block-widget__image grid-block-widget__image--circle"
          src="https://www.chapman.edu/dodge/_files/dodge-landing/damien1.jpg" style="object-position: center center">


        <a class="grid-block-widget__title text-align--center grid-block-widget__title--no-bg focus-no-border border-bottom--none"
          href="https://blogs.chapman.edu/dodge/2021/01/27/chapman-university-master-classes-spring-edition/">
          <span class="label border-bottom--dotted">Damien Chazelle</span>
        </a>


        <div
          class="grid-block-widget__text grid-block-widget__text--white grid-block-widget__text--center text-align--center no-bg"
          data-scroll-height="68" data-js="removed empty <p> tags via grid-block-widget.js">
          <p>
            <span>Director<br></span><em>La La Land</em>
          </p>
        </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--no-bg no-bg"
          style="display:none;" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--no-bg no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>















      <div
        class="grid-block-widget grid-block-widget--no-bg grid-block-widget--circle grid-block-widget--text-overflow">

        <img alt="Bong Joon Ho" class="grid-block-widget__image grid-block-widget__image--circle"
          src="https://www.chapman.edu/dodge/_files/dodge-landing/bong-joon-ho1.jpg"
          style="object-position: center center">


        <a class="grid-block-widget__title text-align--center grid-block-widget__title--no-bg focus-no-border border-bottom--none"
          href="https://blogs.chapman.edu/dodge/2021/01/27/chapman-university-master-classes-spring-edition/">
          <span class="label border-bottom--dotted">Bong Joon Ho</span>
        </a>


        <div
          class="grid-block-widget__text grid-block-widget__text--white grid-block-widget__text--center text-align--center no-bg"
          data-scroll-height="68" data-js="removed empty <p> tags via grid-block-widget.js">
          <p>
            <span>Director<br></span><em>Parasite</em>
          </p>
        </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--no-bg no-bg"
          style="display:none;" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--no-bg no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>















      <div
        class="grid-block-widget grid-block-widget--no-bg grid-block-widget--circle grid-block-widget--text-overflow">

        <img alt="ed Sarandos" class="grid-block-widget__image grid-block-widget__image--circle"
          src="https://www.chapman.edu/dodge/_files/dodge-landing/tedsarandos1.jpg"
          style="object-position: center center">


        <a class="grid-block-widget__title text-align--center grid-block-widget__title--no-bg focus-no-border border-bottom--none"
          href="https://blogs.chapman.edu/dodge/2021/01/27/chapman-university-master-classes-spring-edition/">
          <span class="label border-bottom--dotted">Ted Sarandos</span>
        </a>


        <div
          class="grid-block-widget__text grid-block-widget__text--white grid-block-widget__text--center text-align--center no-bg"
          data-scroll-height="46" data-js="removed empty <p> tags via grid-block-widget.js">
          <p>
            <span>CEO of Netflix</span>
          </p>
        </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--no-bg no-bg"
          style="display:none;" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--no-bg no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>















      <div
        class="grid-block-widget grid-block-widget--no-bg grid-block-widget--circle grid-block-widget--text-overflow">

        <img alt="Pete Docter" class="grid-block-widget__image grid-block-widget__image--circle"
          src="https://www.chapman.edu/dodge/_files/dodge-landing/docter1.jpg" style="object-position: center center">


        <a class="grid-block-widget__title text-align--center grid-block-widget__title--no-bg focus-no-border border-bottom--none"
          href="https://blogs.chapman.edu/dodge/2021/01/27/chapman-university-master-classes-spring-edition/">
          <span class="label border-bottom--dotted">Pete Docter</span>
        </a>


        <div
          class="grid-block-widget__text grid-block-widget__text--white grid-block-widget__text--center text-align--center no-bg"
          data-scroll-height="46" data-js="removed empty <p> tags via grid-block-widget.js">
          <p>
            <span>Head of Pixar</span>
          </p>
        </div>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--no-bg no-bg"
          style="display:none;" tabindex="0">Show More</span>
        <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--no-bg no-bg"
          style="display:none;" tabindex="0">Show Less</span>
      </div>

    </div>






  </div>
</div>