.grid-block-widget__container--rotate {
  .slick-slide > div {
    padding: 0 0.5rem;
  }

  @include respond(phone) {
    .slick-dots li {
      display: none;
    }
  }

  .slick-dots li {
    // height: 20px;
    // width: 25px;

    button::before {
      content: "";
    }
  }

  button.slick-arrow {
    &:focus,
    &:focus-within {
      border: 2px dotted $cu-red;
    }
  }

  button {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    border: 1px solid $cool-gray;
    border-radius: 50%;
    background: $white;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);

    &:hover,
    &:focus,
    &:focus-within {
      box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.5);
      background: $white;
      transition: 350ms linear;
    }

    &.slick-prev.slick-arrow {
      transform: translate(5px, -20px);
      z-index: 10;
    }

    &.slick-next.slick-arrow {
      transform: translate(-5px, -20px);
      z-index: 10;
    }

    &:before {
      color: $black;
      font-size: 16px;
      margin-top: 3px;

      @-moz-document url-prefix() {
        & {
          margin-top: 9px;
        }
      }

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        & {
          margin-top: 9px;
        }
      }
    }

    &.slick-prev:before {
      font-family: "Font Awesome 5 Pro";
      content: "\f053";
      font-weight: 400;
    }

    &.slick-next:before {
      font-family: "Font Awesome 5 Pro";
      content: "\f054";
      margin-left: 3px;
      font-weight: 400;
    }
  }

  button[aria-disabled="true"] {
    visibility: hidden;
  }
}
