.grid-block-widget {
  &__container {
    .grid-block-widget {
      &__title {
        width: 100%;
        position: relative;
        display: block;
        padding-left: 24px !important;
        padding-right: 24px !important;
        font-family: $futura-regular;
      }
      &__text {
        padding-left: 24px;
        padding-right: 24px;

        & + .grid-block-widget__reveal {
          padding-top: 12px;
        }
        &--white {
          a {
            color: $red;
          }
          &--black {
            a {
              color: $white;
            }
          }
        }
      }
    }
  }
}
