// Permutations with repetition (n=4, r=2)
// Using Items: sand,white,black,red

// List has 16 entries.
// {sand,sand} {sand,white} {sand,black} {sand,red} {white,sand} {white,white} {white,black} {white,red} {black,sand} {black,white} {black,black} {black,red} {red,sand} {red,white} {red,black} {red,red}

$sides: (
  "b": "bottom",
  "t": "top",
  "l": "left",
  "r": "right",
);
@each $prefix, $value in $sides {
  @for $i from 0 through 1000 {
    html body .m#{$prefix} {
      &#{($i * 1)} {
        margin-#{$value}: #{($i * 1)}px !important;
      }
    }
    html body .p#{$prefix} {
      &#{($i * 1)} {
        padding-#{$value}: #{($i * 1)}px !important;
      }
    }
  }
}

html body {
  // ONE COLUMN
  .one-column {
    // INTRO SECTION
    .intro-section,
    .section-intro {
      margin-top: 0;

      @include respond(phone) {
        padding: 0 16px;
      }

      &__title {
        margin-top: 15px;
        margin-bottom: 15px;
      }

      &__text {
        margin-top: 15px;
        margin-bottom: 15px;
      }

      &__buttons {
        padding: 0;
        margin-top: 25px;
        margin-bottom: 25px;
      }
    }
    // END INTRO SECTION

    .grid-block-widget__wrapper {
      padding-top: 60px;
      padding-bottom: 60px;

      @include respond(phone) {
        padding: 32px 16px;
      }

      .grid-block-widget__text--red {
        color: $white;
      }

      .no-padding {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      .no-padding {
        .grid-block-widget {
          &__title {
            padding-left: 0 !important;
            padding-right: 0 !important;
            padding-bottom: 10px;
          }
          &__text {
            padding-left: 0;
            padding-right: 0;
            p {
              padding-left: 0;
              padding-right: 0;
            }
          }
          .grid-block-widget__reveal {
            padding-left: 0;
            padding-right: 0;
          }

          .pl24 {
            padding-left: 24 !important;
          }
          .pr24 {
            padding-right: 24 !important;
          }
        }
      }

      &--black {
        .intro-section,
        .section-intro {
          &__preheader {
            color: $white;
          }
        }

        .grid-block-widget {
          &__title {
            color: $white;

            &--white {
              color: $panther-black;
            }
          }
        }
        .slick-dots li button {
          background-color: $white;
        }
      }

      &--red {
        .intro-section__preheader,
        .section-intro__preheader {
          color: $white !important;
        }
        .grid-block-widget {
          &__title {
            color: $white;
          }
        }
        a.button--black {
          border: 1px solid $panther-black !important;

          &:focus {
            border: 2px dotted $white;
          }
        }
        .button.button--red {
          background-color: white;
          color: black;
          // border: none;

          &:hover,
          &:focus {
            transition: 300ms linear;
            background-color: $cu-light-grey !important;
          }
          &:focus {
            border: 2px dotted $white;
          }
        }
        a.grid-block-widget__button--transparent {
          color: $white !important;
          &:hover,
          &:focus {
            background-color: transparent !important;
          }
          &:focus {
            outline-color: $white !important;
          }
        }
      }

      &--white {
        .grid-block-widget {
          &__title {
            color: $cu-red;
          }

          &__text {
            color: $panther-black;
          }
        }
      }

      &--sand {
        .grid-block-widget {
          a {
            color: $cu-red;
          }

          &__title {
            color: $cu-red;
          }

          &__text {
            color: $panther-black;
          }
        }
      }

      &--red {
        a.button--red {
          box-shadow: 0px 4px 25px -7px rgba(0, 0, 0, 0.6);

          &:hover,
          &:focus,
          &:focus-within {
            background-color: $red-hover;
            box-shadow: 0px 4px 25px -7px rgba(0, 0, 0, 0.9);
          }
        }

        .slick-dots li button {
          background-color: white;
        }
      }

      button.slick-arrow {
        display: block !important;
      }

      .slick-prev.slick-arrow {
        transform: translate(-10px, -20px);
        z-index: 10;
      }

      .slick-next.slick-arrow {
        transform: translate(10px, -20px);
        z-index: 10;
      }

      .grid-block-widget {
        a.grid-block-widget__title--white,
        .grid-block-widget__title--sand,
        a.grid-block-widget__title--sand {
          color: $cu-red !important;
        }

        // ONE COL - ACTUAL WIDGET (NOT CONTAINER OR WRAPPER)
        &--landscape {
          --maxHeight: 200px;
        }
      }

      .one-col-text-padding {
        padding-left: 24px !important;
        padding-right: 24px !important;
      }
    } // END ONE COL - ACTUAL WIDGET (NOT CONTAINER OR WRAPPER)

    .inner-container {
      @include outer-container;
    }

    .intro-section__button .section-intro__button,
    .section-intro__button .section-intro__button {
      background-color: transparent !important;
    }

    .grid-block-widget__container {
      @include respond(phone) {
        padding: 0 16px;
      }

      .grid-block-widget {
        &__title {
          @include respond(phone) {
            padding-top: 12px;
          }
        }
      }

      &--rotate {
        &.grid-block-widget__container {
          &--square {
            img {
              width: 100%;
            }
          }
        }
      }
    }
    .no-bg {
      background-color: transparent !important;
      color: currentColor !important;
    }
    .grid-block-widget__reveal--sand.no-bg {
      color: $cu-red !important;
    }

    [data-bg-color="red"] {
      background-color: $cu-red;
      .intro-section {
        color: $white;
        a {
          color: white;
        }
      }
      a.button.button--red {
        color: black;
        background-color: white !important;
      }
    }
    [data-bg-color="white"] {
      background-color: $white;

      .intro-section {
        color: $panther-black;
      }
    }
    [data-bg-color="sand"] {
      background-color: $sand;

      .intro-section {
        color: $panther-black;
      }
    }
    [data-bg-color="black"] {
      background-color: $panther-black;

      a.grid-block-widget__button--transparent {
        color: $white;
      }
      .intro-section {
        color: $white;
        .intro-section__preheader,
        a {
          color: $white;
        }
        a,
        a.button {
          color: $white;
        }
      }
    }
  }
}

html body .one-column {
  .grid-block-widget__wrapper--red {
    .intro-section__buttons {
      .intro-section__button {
        &:focus {
          border: 2px dotted $white;
        }
      }
    }
  }
  .grid-block-widget__wrapper--red,
  .grid-block-widget__wrapper--black {
    .intro-section__title,
    .section-intro__title {
      &[class*="--sand"] {
        a {
          color: $cu-red;
        }
      }
      &[class*="--white"] {
        a {
          color: $cu-red;
        }
      }
      &[class*="--black"] {
        a {
          color: white;
        }
      }
      &[class*="--red"] {
        a {
          color: white;
        }
      }
      a {
        $border-color: $white;
        border-bottom: 2px dotted $white;
        border-color: $white;
      }
    }
    a:focus {
      border-color: $white !important;
      outline-color: $white !important;
    }
    .button:focus,
    a:focus,
    span:focus {
      // outline-color: $white;
      // outline: 2px dotted;
      outline: 2px dotted $white;
      border: none;
    }
    a.grid-block-widget__title:focus {
      outline: 2px dotted $white;
      border: none;
    }
    a.grid-block-widget__button--transparent {
      color: $white !important;
      &:hover,
      &:focus {
        background-color: transparent !important;
      }
      &:focus {
        outline-color: $white !important;
      }
    }
  }

  .grid-block-widget__wrapper--black {
    .grid-block-widget__cta {
      a.button {
        // @include button-bg($cu-red);
      }
    }
  }
  .grid-block-widget__wrapper--red .intro-section__button a.button--red,
  .grid-block-widget__wrapper--red .section-intro__button a.button--red {
    &:hover,
    &:focus,
    &:focus-within {
      background-color: $red-hover;
    }
  }

  .grid-block-widget__wrapper--red .button.button--red {
    color: black !important;
    background-color: white !important;
  }

  .grid-block-widget__container .grid-block-widget {
    .text-align--center {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    .grid-block-widget__title.text-align--center {
      display: block;
      text-align: center;
    }
    .grid-block-widget__title.text-align--right {
      display: block;
      text-align: right;
    }
  }
  .grid-block-widget__text {
    display: flex;
    flex-direction: column;
  }

  .grid-block-widget__wrapper
    .grid-block-widget__container--circle
    .grid-block-widget__text
    p {
    padding-left: 24px !important;
    padding-right: 24px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .grid-block-widget__wrapper
    .grid-block-widget__container--circle
    .grid-block-widget__text {
    margin-bottom: 20px;
  }
  .grid-block-widget__wrapper
    .grid-block-widget__container--circle
    .grid-block-widget__title {
    padding: 20px 0px 10px;
  }

  .grid-block-widget__text.text-align--center p {
    padding-left: 24px !important;
    padding-right: 24px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .grid-block-widget__wrapper.grid-block-widget__wrapper--white {
    color: $panther-black !important;
  }
  .block-widget__reveal--white,
  .block-widget__reveal--sand,
  .block-widget__reveal--black {
    color: $cu-red !important;
    [class*="--white"] {
      color: $cu-red !important;
    }
  }
  .grid-block-widget.grid-block-widget--white
    .grid-block-widget__reveal--white {
    color: $cu-red;
  }
}

.grid-block-widget__wrapper--red .grid-block-widget__cta a.button--red {
  background-color: white;

  &:hover,
  &:focus {
    background-color: $cu-light-grey;
  }
}

// html
//   body
//   .one-column
//   .grid-block-widget__wrapper--white
//   [class*="text-"].no-bg {
//   color: $panther-black !important;
// }

// html
//   body
//   .one-column
//   .grid-block-widget__wrapper--sand
//   .grid-block-widget__text.no-bg {
//   color: $panther-black !important;
// }

// html
//   body
//   .one-column
//   .grid-block-widget__wrapper--black
//   .grid-block-widget__text.no-bg {
//   color: $white !important;
// }

// html body .grid-block-widget__wrapper--red .grid-block-widget__text.no-bg {
//   color: $white !important;
// }

.grid-block-widget__container {
  .default-padding {
    .grid-block-widget {
      &__text {
        padding-left: 24px;
        padding-right: 24px;
      }
    }
  }
}
